<div class="container my-3">
  <div class="section-heading center-holder">
    <h3 class="text-center">Nuestros Servicios</h3>
    <div class="row my-4">
      <div class="col-md-4 col-sm-12 col-12" *ngFor="let member of service">
        <div class="serv-section-2 mt-2">
          <div class="serv-section-2-icon"> 
            <i class="fa fa-laptop"></i> 
          </div>
          <div class="serv-section-desc">
            <h4>{{member.name}}</h4>
            <h4>{{member.name2}}</h4> 
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

<div class="container">
  <div class="card bg-light mb-3">
    <div class="row no-gutters">
      <div class="col text-center">
        <img src="./assets/imagenes/logos/logo-envi-color-1.png" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Contactanos</h5>
          <div class="my-3">
            <div class="form-row">
                <div class="col form-group">
                    <label>Nombres y Apellidos</label>
                    <input class="form-control" type="text" name="firstname">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label>Correo Electrónico</label>
                    <input name="email" type="email" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="col form-group">
                    <label>Motivo</label>
                    <input name="subject" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
              <label>Tu Mensaje</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>

            <div class="form-group text-right">
                <button class="btn btn-lg mb-2 enviar" role="button" aria-pressed="true">Enviar</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>