<section class="services my-3 pb-50" id="services">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 mx-auto text-center">
             <div class="section-title mb-20">
                <h4>Nuestros Servicios</h4>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-6">
             <!-- Single Service -->
             <div class="single-service">
                <i class="fa fa-laptop"></i>
                <h4>Ensamblaje y Mantenimiento de PC's</h4>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <!-- Single Service -->
              <div class="single-service">
                 <i class="fa fa-desktop"></i>
                 <h4>Diseño del Sistema de Refrigeración Liquida para PC's </h4>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <!-- Single Service -->
             <div class="single-service">
                <i class="fa fa-object-group"></i>
                <h4>Diseño de Sistemas de Iluminación</h4>
             </div>
          </div>
       </div>
    </div>
 </section>

<div class="container">
  <div class="card bg-light mb-3">
    <div class="row no-gutters">
      <div class="col">
        <img id="logo-contact" src="../../../assets/imagenes/logos/ecogozo.png" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Contactanos</h5>
          <div class="my-3">
            <div class="form-row">
                <div class="col form-group">
                    <label>Nombres y Apellidos</label>
                    <input class="form-control" type="text" name="firstname">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label>Correo Electrónico</label>
                    <input name="email" type="email" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="col form-group">
                    <label>Motivo</label>
                    <input name="subject" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
              <label>Tu Mensaje</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>

            <div class="form-group text-right">
                <button class="btn btn-lg mb-2 enviar" role="button" aria-pressed="true">Enviar</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>