<div class="container space">
	<div class="contenedor">
		<button (click)="goBack()" class="add-to-cart btn btn-default" type="button">
			<i class="fa fa-arrow-left"></i>
			REGRESAR
		</button>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">
					
					<div class="preview-pic tab-content text-center">
					<!--big pictures-->
						<div class="tab-pane active pic" id="pic-1">
							<img [src]="'http://localhost:4444/public/products/'+product.principalImg"/>
						</div>
						<div class="tab-pane pic" id="pic-2">
							<img src="https://picsum.photos/300"/>
						</div>
						<div class="tab-pane pic" id="pic-3">
							<img src=""/>
						</div>
						<div class="tab-pane pic" id="pic-4">
							<img src=""/>
						</div>
						<div class="tab-pane pic" id="pic-5">
							<img src=""/>
						</div>
					</div>
					<!--mini picture that u select to preview it up -->
					<ul class="preview-thumbnail nav nav-tabs">
						<li class="active">
							<a data-target="#pic-1" data-toggle="tab">
								<img [src]="'http://localhost:4444/public/products/'+product.principalImg"/>
							</a>
						</li>
						<li>
							<a data-target="#pic-2" data-toggle="tab">
								<img src="https://picsum.photos/300" />
							</a>
						</li>
						<li>
							<a data-target="#pic-3" data-toggle="tab">
								<img src="" />
							</a>
						</li>
						<li>
							<a data-target="#pic-4" data-toggle="tab">
								<img src="" />
							</a>
						</li>
						<li>
							<a data-target="#pic-5" data-toggle="tab">
								<img src="" />
							</a>
						</li>
					</ul>
				</div>
				<div class="details col-md-6">
					<h3 class="product-title">{{product.name}}</h3>
					<p class="product-description">{{product.description}}</p>
					<div class="row mx-1 my-2">
						<h5 class="mr-2">Precio :</h5>
						<h5 class="mt-3">${{product.price}}</h5>
					</div>
					<ul class="mx-4">
						<li>Precio incluye el IGV</li>
						<li>Precio Sujeto a cambios sin previo aviso</li>
						<li>Precio no incluye el precio del envio</li>
					</ul>
					<div class="row mx-1 my-2">
						<h5 class="mr-2">Stock :</h5>
						<h5>{{product.inStock}}</h5>
					</div>
					<div class="row mx-1 my-2">
						<h5 class="mr-2">Cantidad :</h5>
						<button mat-mini-fab class="btn plus-minus" data-type="minus" (click)="add(false) ">
							<i class="fa fa-minus "></i>
						</button>
						<mat-form-field>
							<input matInput id="cantidad" type="number" class="text-center" value="1" min="1" max="20" value="{{quantity}}">
						</mat-form-field>
						<button mat-mini-fab class="btn plus-minus" data-type="plus" (click)="add(true)">
							<i class="fa fa-plus "></i>
						</button>
					</div>
					<div class="action">
						<button (click)="addToCart()" class="add-to-cart btn float-right" type="button">Añadir al carrito</button>
					</div>
				</div>
			</div>
		</div>
		<!--nav for the specs and other navmenu-->
		<div class="row mt-5">
			<ul class="nav nav-pills mb-3 mx-3" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="v-pills-et-tab" data-toggle="pill" href="#v-pills-et" role="tab" aria-controls="v-pills-et" aria-selected="true">
						Especificaciones técnicas
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="v-pills-mp-tab" data-toggle="pill" href="#v-pills-mp" role="tab" aria-controls="v-pills-mp" aria-selected="false">
						Métodos de pago
					</a>
				</li>
				<li class="nav-item">
					<button class="nav-link btn" data-toggle="pill" (click)="openGarantia()" role="tab" aria-controls="v-pills-g" aria-selected="false">
						Garantia
					</button>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="v-pills-e-tab" data-toggle="pill" href="#v-pills-e" role="tab" aria-controls="v-pills-e" aria-selected="false">
						Envio
					</a>
				</li>
			</ul>
			<!--content for the nav menu-->
			<div class="col-12">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-et" role="tabpanel" aria-labelledby="v-pills-et-tab">
						<button class="btn" (click)="openPdf()">pdf</button>
					</div>
					<div class="tab-pane fade" id="v-pills-mp" role="tabpanel" aria-labelledby="v-pills-mp-tab">
						<div class="container">
							<div class="form-row my-5">
								<div class="card-deck">
									<div class="card">
										<div class="card-body">
											<p class="card-text"><strong>Tranferencia o deposito</strong></p>
											<img src="./assets/imagenes/metodo de pago/logo bbva.png" class="card-img-top">
											<img src="./assets/imagenes/metodo de pago/logo interbank.png" class="card-img-top">
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<p class="card-text"><strong>Tarjeta de crédito o débito</strong></p>
											<p class="card-text">Este método de pago tiene un recargo adicional del 4.071%, el monto total se cancela con su tarjeta de crédito o débito al momento de la entrega del producto en su dirección de envio.</p>
											<p class="card-text">Aceptamos estos tipos de tarjetas :</p>
											<img src="./assets/imagenes/metodo de pago/logo_todas_las_tarjetas.png" class="card-img-top" >
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<p class="card-text"><strong>Visanet pago link</strong></p>
											<p class="card-text">Este método de pago tiene un recargo adicional del 4.5%, el monto total se cancela de manera online.</p>
											<img src="./assets/imagenes/metodo de pago/visanet_pago_link.png" class="card-img-top" >
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>
					<div class="tab-pane fade" id="v-pills-e" role="tabpanel" aria-labelledby="v-pills-e-tab">
						<table class="table table-bordered">
							<tbody>
								<tr *ngFor="let member of Districts">
									<td >{{member.name}}</td>
									<td >{{member.name2}}</td>
									<td >{{member.name3}}</td>
									<td >{{member.name4}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>