<div class="container space">
	<div class="contenedor">
		<button (click)="goBack()" class="add-to-cart btn btn-default" type="button">
			<i class="fa fa-arrow-left"></i>
			REGRESAR
		</button>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">
					
					<div class="preview-pic tab-content text-center mx-2 mt-2">
					<!--big pictures-->
						<div class="tab-pane active pic" id="pic-1">
							<img [src]="'https://warm-gorge-76460.herokuapp.com/public/products/'+product.principalImg"/>
						</div>
						<div class="tab-pane pic" id="pic-2">
							<img [src]="'https://warm-gorge-76460.herokuapp.com/public/products/'+product.images"/>
						</div>
						<div class="tab-pane pic" id="pic-3">
							<img src="https://picsum.photos/300" />
						</div>
						<div class="tab-pane pic" id="pic-4">
							<img src=""/>
						</div>
						<div class="tab-pane pic" id="pic-5">
							<img src=""/>
						</div>
						<span id="spanimg">Imagen Referencial</span>
					</div>
					<!--mini picture that u select to preview it up -->
					<ul class="preview-thumbnail nav nav-tabs smallpic mx-2">
						<li  class="active">
							<a data-target="#pic-1" data-toggle="tab">
								<img [src]="'https://warm-gorge-76460.herokuapp.com/public/products/'+product.principalImg"/>
							</a>
						</li>
						<li>
							<a data-target="#pic-2" data-toggle="tab">
								<img [src]="'https://warm-gorge-76460.herokuapp.com/public/products/'+product.images"/>
							</a>
						</li>
						<li>
							<a data-target="#pic-3" data-toggle="tab">
								<img src="https://picsum.photos/300" />
							</a>
						</li>
						<li>
							<a data-target="#pic-4" data-toggle="tab">
								<img src="https://picsum.photos/300" />
							</a>
						</li>
						<li>
							<a data-target="#pic-5" data-toggle="tab">
								<img src="https://picsum.photos/300" />
							</a>
						</li>
					</ul>
				</div>
				<div class="details col-md-6">
					<div class="medio mx-2 mt-1">
						<h3 class="product-title">{{product.name}}</h3>
						<p class="product-description">{{product.description}}</p>
					</div>
					<div class="medio">
						<div class="row mx-2 my-1">
							<h1 class="mt-3">S/. {{product.price | number:'1.2-2'}}</h1>
						</div>
						<ul class="mx-4">
							<li>Precio incluye el IGV</li>
							<li>Precio Sujeto a cambios sin previo aviso</li>
							<li>Precio no incluye el precio del envio</li>
						</ul>
					</div>
					<div class="bot">
						<div class="row mx-2 my-2">
							<h5 class="mr-2">Stock :</h5>
							<h5>{{product.inStock}}</h5>
						</div>
						<div class="row mx-2 my-2">
							<h5 class="mr-2">Cantidad :</h5>
							<button mat-mini-fab class="btn plus-minus" data-type="minus" (click)="add(false) ">
								<i class="fa fa-minus "></i>
							</button>
							<mat-form-field>
								<input matInput id="cantidad" type="number" class="text-center" value="1" min="1"  value="{{quantity}}">
							</mat-form-field>
							<button mat-mini-fab class="btn plus-minus" data-type="plus" (click)="add(true)">
								<i class="fa fa-plus "></i>
							</button>
						</div>
						<div class="action">
							<button (click)="addToCart()" class="add-to-cart btn float-right mb-2" type="button">Añadir al carrito</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--nav for the specs and other navmenu-->
		<div class="row my-3 ml-1 mr-1">
			<ul class="nav nav-pills mx-3" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="v-pills-et-tab" data-toggle="pill" (click)="openPdf()" href="#v-pills-et" role="tab" aria-controls="v-pills-et" aria-selected="false">
						Especificaciones técnicas
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="v-pills-mp-tab" data-toggle="pill" href="#v-pills-mp" role="tab" aria-controls="v-pills-mp" aria-selected="false">
						Métodos de pago
					</a>
				</li>
				<li class="nav-item">
					<button class="nav-link btn" data-toggle="pill" (click)="openGarantia()" role="tab" aria-controls="v-pills-g" aria-selected="false">
						Garantia
					</button>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="v-pills-e-tab" data-toggle="pill" href="#v-pills-e" role="tab" aria-controls="v-pills-e" aria-selected="false">
						Envio
					</a>
				</li>
			</ul>
			<!--content for the nav menu-->
			<div class="col-12">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active  mt-3 ml-3" id="v-pills-et" role="tabpanel" aria-labelledby="v-pills-et-tab">
					</div>
					<div class="tab-pane fade" id="v-pills-mp" role="tabpanel" aria-labelledby="v-pills-mp-tab">
						<div class="container">
							<div class="form-row">
								<div class="card-deck">
									<div class="card">
										<div class="card-body">
											<p class="card-text"><strong>Tranferencia o deposito</strong></p>
											<img src="./assets/imagenes/metodo de pago/logo bbva.png" class="card-img-top">
											<img src="./assets/imagenes/metodo de pago/logo interbank.png" class="card-img-top">
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<p class="card-text"><strong>Mercado Pago</strong></p>
											<p class="card-text">
												El monto total se cancela a través de la <strong>app de mercado libre</strong>, escaneando el <strong>código QR</strong> en la opción de <strong>pagar con código QR</strong>.
											<img src="./assets/imagenes/metodo de pago/mercadopago-01.png" class="card-img-top" >
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<p class="card-text"><strong>Pago Contra Entrega</strong></p>
											<p class="card-text">Este método de pago se cancela con su tarjeta de crédito o débito al momento de la entrega del producto en su dirección de envio mediante nuestro POS.</p>
											<p class="card-text">Aceptamos estos tipos de tarjetas :</p>
											<img src="./assets/imagenes/metodo de pago/logo_todas_las_tarjetas.png" class="card-img-top" >
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>
					<div class="tab-pane fade mt-3" id="v-pills-e" role="tabpanel" aria-labelledby="v-pills-e-tab">
						<table class="table table-bordered">
							<tbody>
								<tr *ngFor="let member of Districts">
									<td >{{member.name}}</td>
									<td >{{member.name2}}</td>
									<td >{{member.name3}}</td>
									<td >{{member.name4}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>