<div class="container">
  <mat-dialog-content>
    <div class="form-row">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top " src="../assets/imagenes/metodo de pago/logo bbva.png" alt="">
            <h5 class="card-title">Cta. corriente soles : </h5>
            <p class="card-text">0011-0486-010017944</p>
            <h5 class="card-title">Cta. corriente dolares : </h5>
            <p class="card-text">0011-0486-0100179451</p>
            <h5 class="card-title">Razón Social : <strong>ECOGOZO S.A.C</strong></h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../../../assets/imagenes/metodo de pago/logo interbank.png" alt="">
            <h5 class="card-title">Cta. corriente soles : </h5>
            <p class="card-text">2003002019726</p>
            <h5 class="card-title">Cta. corriente dolares : </h5>
            <p class="card-text">2003002019768</p>
            <h5 class="card-title">Razón Social : <strong>ECOGOZO S.A.C</strong></h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img src="./assets/imagenes/metodo de pago/mercadopago-01.png" class="card-img-top" >
            <div class="text-center mb-2">
              <img class="card-img-bottom mercado" src="../assets/imagenes/metodo de pago/qr_mercadopago.png" alt="Card image cap">
          </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>

<button mat-dialog-close class="btn float-right ec mt-3">Cerrar</button>