<!--<div class="container mt-5">
    <div class="row mb-2">
        <div id="titulo" class="col-12 text-center pt-3">
            <h5>Aqui encontraras noticias y articulos sobre tecnologia, ademas del impacto positivo que tienen estas tecnologias y/o productos en el medio ambiente.
            </h5>
        </div>
    </div>
</div>

<section class="details-card">
    <div class="container"> 
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                            <span>
                                <h4>heading</h4>
                            </span>
                    </div>
                    <div class="card-desc">
                            <h3>Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                voluptatum! Dolor quo, perspiciatis voluptas totam</p>
                            <button class="btn  ec">Leer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                            <span>
                                <h4>heading</h4>
                            </span>
                    </div>
                    <div class="card-desc">
                            <h3>Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                voluptatum! Dolor quo, perspiciatis voluptas totam</p>
                            <button class="btn  ec">Leer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                            <span>
                                <h4>heading</h4>
                            </span>
                    </div>
                    <div class="card-desc">
                            <h3>Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                voluptatum! Dolor quo, perspiciatis voluptas totam</p>
                            <button class="btn  ec">Leer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="instafeed-gallery" class="row gallery"></div>
</div>-->
    <div id="instafeed">
we are working !
    </div>
    