<div class="container">
    <div class="row mb-2">
        <div class="col-12 text-center pt-3">
            <h1>Novedades</h1>
            <p>Aca encontraras noticias sobre tecnologia, beneficios y los impactos
                positivos que tienen los productos que ofrecemos
            </p>
        </div>
    </div>
</div>

<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                            <span>
                                <h4>heading</h4>
                            </span>
                    </div>
                    <div class="card-desc">
                            <h3>Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                voluptatum! Dolor quo, perspiciatis voluptas totam</p>
                            <button class="btn  ec">Leer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                            <span>
                                <h4>heading</h4>
                            </span>
                    </div>
                    <div class="card-desc">
                            <h3>Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                voluptatum! Dolor quo, perspiciatis voluptas totam</p>
                            <button class="btn  ec">Leer</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                            <span>
                                <h4>heading</h4>
                            </span>
                    </div>
                    <div class="card-desc">
                            <h3>Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                voluptatum! Dolor quo, perspiciatis voluptas totam</p>
                            <button class="btn  ec">Leer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>