<div class="container d-flex justify-content-center ">
    <div class="card panel-body " style="width: 35%;">
        <div class="text-center">
        <img src="../../../../assets/imagenes/logos/logo-envi-c2.png" class="card-img-top img-fluid" >
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="password" class="form-control"  placeholder="Contraseña">
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  placeholder="Confirmar contraseña">
            </div>
            <div class="form-group text-center mt-2">
                <button (click)="sModal(successModal)" class="btn">Restablecer contraseña</button>
            </div>
        </div>
    </div>
</div>
  
<ng-template #successModal>
    <div class="modal-content">
        <div class="login-container modal-body">
            <div class="box_login">
                <div class="modal_login">
                    <div>
                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                            <span class="swal2-success-line-tip"></span>
                            <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div> 
                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                        </div>
                    </div>
                    <h4 class="text-center">Contraseña restablecida</h4>
                </div>
            </div>
        </div>
    </div>
</ng-template>
  