<div class="container">
  <h1>Carrito de Compras</h1>
  
  <div class="shopping-cart">
  
    <div class="column-labels">
      <label class="product-image">Imagen</label>
      <label class="product-details">Producto</label>
      <label class="product-price">Precio</label>
      <label class="product-quantity">Cantidad</label>
      <label class="product-removal">Remover</label>
      <label class="product-line-price">Total</label>
    </div>
  
    <div class="product">
      <div class="product-image">
        <img src="https://picsum.photos/300">
      </div>
      <div class="product-details">
        <div class="product-title">Nombre del Producto</div>
        <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, quas?</p>
      </div>
      <div class="product-price">0</div>
      <div class="product-quantity">
        <input type="number" value="" min="1">
      </div>
      <div class="product-removal">
        <button class="remove-product">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="product-line-price">0</div>
    </div>
  
    <div class="totals">
      <div class="totals-item">
        <label>Total</label>
        <div class="totals-value" id="cart-shipping">0</div>
      </div>
    </div>
        
        <button class="checkout" routerLink="/Checkout/Checkout1">Proceder</button>
  
  </div>
</div>