<div class="container">
    <button type="button" routerLink="/categoria/Iluminación" class="seguir btn-block">Seguir comprando</button>
</div>
<div class="container">
    <h1>Carrito de Compras</h1>
    <div class="shopping-cart">
        <div class="column-labels">
            <label class="product-image">Imagen</label>
            <label class="product-details">Producto</label>
            <label class="product-price">Precio</label>
            <label class="product-quantity">Cantidad</label>
            <label class="product-removal">Quitar</label>
            <label class="product-line-price">Total</label>
        </div> 
        <div *ngFor="let item of products; let i = 'index'" class="product">
            <div class="product-image">
                <img [src]="'https://ecogozotest.com:40/public/products/'+products[i].principalImg">
            </div>
            <div class="product-details">
                <h5 class="product-title">{{item.name}}</h5>
                <p class="product-description">{{item.description}}</p>
            </div>
            <div class="product-price">{{item.price | number:'1.2-2'}}</div>
            <div class="product-quantity">
                <input type="number" class="text-center" value="1" min="1" max="20" value="{{item.quantity}}">
            </div>
            <div class="product-removal">
                <button (click)="remove(item,i)" class="remove-product">Remover</button>
            </div>
            <div class="product-line-price">{{item.price*item.quantity | number:'1.2-2'}}</div>
        </div>
        <div class="totals">
            <div class="totals-item totals-item-total">
                <label>Total</label>
                <div class="totals-value" id="cart-total">{{totalPrice() | number:'1.2-2'}}</div>
            </div>
        </div>
        <button (click)="checkout()" class="checkout">Proceder</button>
    </div>
</div>

