<div class="container">
    <div class="form-group text-center">
        <button routerLink="/Checkout/Checkout1"  class="btn mx-2 mt-4 mb-2 ec-desactive" >Datos de Envio</button>
        <button  class="btn mx-2 mt-4 mb-2 ec-active" >Metodo de Pago</button>
        <button  class="btn mx-2 mt-4 mb-2 ec-desactive">Realizar Pedido</button>
    </div>
    <div class="text-center">
        <h3 class="dots">Datos de las Cuentas</h3>
    </div>
    <form>
      <div class="form-row">
          <div class="col form-group text-center">
            <img class="logo" src="../../../../assets/imagenes/metodo de pago/logo bcp.png" alt="">
            <h5>Nro : 0011-0816-0200676680</h5>
            <img class="qr" src="../../../../assets/imagenes/metodo de pago/codigo qr prueba.jpg" alt="">
          </div>

          <div class="col form-group text-center">
            <img class="logo" src="../../../../assets/imagenes/metodo de pago/logo interbank.png" alt="">
            <h5>Nro : 0011-0816-0200676680</h5>
            <img class="qr" src="../../../../assets/imagenes/metodo de pago/codigo qr prueba2.jpg" alt="">
          </div>
      </div>
    </form>
    
    <div class="form-group text-right">
        <button routerLink="/Checkout/Checkout3" class="btn btn-lg mb-2 ec-active" role="button" aria-pressed="true">Siguiente</button>
    </div>
</div>