<div class="container">
    <div class="form-group text-center">
        <button routerLink="/Checkout/Checkout1"  class="btn mx-2 mt-4 mb-2 ec-desactive" >Datos de Envio</button>
        <button  class="btn mx-2 mt-4 mb-2 ec-active" >Realizar Pedido</button>
        <button  class="btn mx-2 mt-4 mb-2 ec-desactive">Metodos de Pago</button>
    </div>
    <div class="text-center">
        <h3 class="dots">Confirmación de Pedido</h3>
    </div>
    
    <div class="my-3">
        <h1>Carrito de Compras</h1>
      
        <div class="shopping-cart">
      
          <div class="column-labels">
            <label class="product-image">Imagen</label>
            <label class="product-details">Producto</label>
            <label class="product-price">Precio</label>
            <label class="product-quantity">Cantidad</label>
            <label class="product-removal">Space</label>
            <label class="product-line-price">Total</label>
          </div>
      
          <div class="product">
            <div class="product-image">
              <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
            </div>
            <div class="product-details">
              <h5 class="product-title">Dingo Dog Bones</h5>
              <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
            </div>
            <div class="product-price">12.99</div>
            <div class="product-quantity">
              <input class="ml-4" disabled value="2" min="1">
            </div>
            <label class="product-removal"></label>
            <div class="product-line-price">25.98</div>
          </div>
      
          <div class="totals">
            <div class="totals-item">
              <label>Subtotal</label>
              <div class="totals-value" id="cart-subtotal">71.97</div>
            </div>
            <div class="totals-item">
              <label>IGV (18%)</label>
              <div class="totals-value" id="cart-tax">3.60</div>
            </div>
            <div class="totals-item">
              <label>Envio</label>
              <div class="totals-value" id="cart-shipping">15.00</div>
            </div>
            <div class="totals-item totals-item-total">
              <label>Total</label>
              <div class="totals-value" id="cart-total">90.57</div>
            </div>
          </div>
              
              <button routerLink="/Checkout/Checkout3" class="checkout">Siguiente</button>
      
        </div>
    </div>
</div>