<div class="container">
    <div class="titulo">
        <h1>BIENVENIDO</h1>
        <img src="../../../assets/imagenes/logos/ecogozo.png" alt="">
    </div>
    <ul class="nav nav-tabs text-center" id="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-item nav-link active" id="nav-reg1-tab" data-toggle="tab" href="#nav-reg1" role="tab" aria-controls="nav-reg1" aria-selected="true">
                <i id="icono" class="fa fa-user"></i>
                <span>Persona Natural</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" id="nav-reg1-tab" data-toggle="tab" href="#nav-reg2" role="tab" aria-controls="nav-reg2" aria-selected="false">
                <i id="icono" class="fa fa-building"></i>
                <span>Empresa</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-reg1" role="tabpanel" aria-labelledby="nav-reg1-tab">
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="card">
                        <article class="card-body">
                            <form [formGroup]="user" (ngSubmit)="onSubmit(user.value, user.valid)">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Nombres" formControlName="firstname" type="text" [formControl]="u.firstname" >
                                            <mat-error *ngIf="firstname.invalid">{{ErrorMessageFirstname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Apellidos" formControlName="lastname" type="text" [formControl]="u.lastname" >
                                            <mat-error *ngIf="lastname.invalid">{{ErrorMessageLastname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <mat-select placeholder="Tipo de Identificación" formControlName="id_type" [ngClass]="u.id_type">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option value="dni">DNI</mat-option>
                                                <mat-option value="ruc">RUC</mat-option>
                                                <mat-option value="carnet">CARNET DE EXTRANJERIA</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="id_type.invalid">{{ErrorMessageId_type()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput digitOnly placeholder="Número de Identificación" type="text" formControlName="id_number" [formControl]="u.id_number" maxlength="11" minlength="8">
                                            <mat-error *ngIf="id_number.invalid">{{ErrorMessageId_number()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Número de Celular" digitOnly minlength="9" maxLength="9" formControlName="phone" type="text" [formControl]="u.phone">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePhone()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="pc">
                                            <input matInput placeholder="Código Postal" digitOnly maxlength="5" formControlName="postalcode" type="text" [formControl]="u.postalcode">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePostalcode()}}</mat-error>
                                        </mat-form-field>
                                        <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <mat-select placeholder ="Departamento" formControlName="department" [ngClass]="u.department">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="department.invalid">{{ErrorMessageDepartment()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <mat-select disabled placeholder ="Perú">
                                                <mat-option value="">Perú</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Correo Electrónico" formControlName="email" type="email" [formControl]="u.email">
                                        <mat-error *ngIf="u.email.hasError('email') && !u.email.hasError('required')">
                                                Ingrese un correo electrónico válido
                                        </mat-error>
                                        <mat-error *ngIf="u.email.hasError('required')">
                                                Ingrese un correo electrónico 
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Contraseña" formControlName="password" type="password" [formControl]="u.password">
                                        <mat-error *ngIf="u.password.hasError('required')">
                                                Ingrese una contraseña con un minimo de 8 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div> 
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Confirmar Contraseña" formControlName="password2" type="password" [formControl]="u.password2">
                                        <mat-error *ngIf="u.password2.hasError('required')">
                                            La contraseña no coincide con la ingresada anteriormente
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block ec"> Registrarse  </button>
                                </div>
                                <div class="text-center">  
                                    <small class="text-muted">Haciendo click en el boton 'Registrarse', confirmas que aceptas nuestros <br>
                                    </small> 
                                    <small>
                                        <button (click)="openTerminos()" class="btn a">Términos de Condiciones de Uso</button>
                                    </small>
                                    <small>
                                        y
                                    </small>
                                    <small>
                                        <button (click)="openPolitica()" class="btn a">Política de Privacidad.</button>
                                    </small>
                                </div> 
                            </form>
                        </article>
                        <div class="border-top card-body text-center">Ya tienes una cuenta? 
                            <button class="btn a" (click)="openLogin()">Inicia Sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--R E G I S T R O   P A R A    E M P R E S A-->
        <div class="tab-pane fade" id="nav-reg2" role="tabpanel" aria-labelledby="nav-reg2-tab">
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="card">
                        <article class="card-body">
                            <form [formGroup]="user" (ngSubmit)="onSubmit(user.value, user.valid)">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Nombres del Solicitante" formControlName="firstname" type="text" [formControl]="u.firstname" >
                                            <mat-error *ngIf="firstname.invalid">{{ErrorMessageFirstname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Apellidos del Solicitante" formControlName="lastname" type="text" [formControl]="u.lastname" >
                                            <mat-error *ngIf="lastname.invalid">{{ErrorMessageLastname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Razón Social" formControlName="rucname" type="text" [formControl]="u.rucname" >
                                            <mat-error *ngIf="rucname.invalid">{{ErrorMessagerucname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <mat-select placeholder="Tipo de Identificación" formControlName="id_type" [ngClass]="u.id_type">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option value="ruc">RUC</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="id_type.invalid">{{ErrorMessageId_type()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput digitOnly placeholder="Número de RUC" type="text" formControlName="id_number" [formControl]="u.id_number" maxlength="11" minlength="8">
                                            <mat-error *ngIf="id_number.invalid">{{ErrorMessageId_number()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Número de Celular" digitOnly minlength="9" maxLength="9" formControlName="phone" type="text" [formControl]="u.phone">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePhone()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="pc">
                                            <input matInput placeholder="Código Postal" digitOnly maxlength="5" formControlName="postalcode" type="text" [formControl]="u.postalcode">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePostalcode()}}</mat-error>
                                        </mat-form-field>
                                        <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <mat-select placeholder ="Departamento" formControlName="department" [ngClass]="u.department">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="department.invalid">{{ErrorMessageDepartment()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <mat-select disabled placeholder ="Perú">
                                                <mat-option value="">Perú</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Correo Electrónico" formControlName="email" type="email" [formControl]="u.email">
                                        <mat-error *ngIf="u.email.hasError('email') && !u.email.hasError('required')">
                                                Ingrese un correo electrónico válido
                                        </mat-error>
                                        <mat-error *ngIf="u.email.hasError('required')">
                                                Ingrese un correo electrónico 
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Contraseña" formControlName="password" type="password" [formControl]="u.password">
                                        <mat-error *ngIf="u.password.hasError('required')">
                                                Ingrese una contraseña con un minimo de 8 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div> 
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Confirmar Contraseña" formControlName="password2" type="password" [formControl]="u.password2">
                                        <mat-error *ngIf="u.password2.hasError('required')">
                                            La contraseña no coincide con la ingresada anteriormente
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block ec" (click)="onSubmit(user.value, user.valid)"> Registrarse  </button>
                                </div>
                                <div class="text-center">  
                                    <small class="text-muted">Haciendo click en el boton 'Registrarse', confirmas que aceptas nuestros <br>
                                    </small> 
                                    <small>
                                        <button (click)="openTerminos()" class="btn a">Términos de Condiciones de Uso</button>
                                    </small>
                                    <small>
                                        y
                                    </small>
                                    <small>
                                        <button (click)="openPolitica()" class="btn a">Política de Privacidad.</button>
                                    </small>
                                </div> 
                            </form>
                        </article>
                        <div class="border-top card-body text-center">Ya tienes una cuenta? <button class="btn a" (click)="openLogin()">Inicia Sesión</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
