<div class="container">
    <div class="titulo">
        <h1>BIENVENIDO</h1>
        <img src="../../../assets/imagenes/logos/ecogozo.png" alt="">
    </div>
    <ul class="nav nav-tabs text-center" id="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-item nav-link active" id="nav-reg1-tab" data-toggle="tab" href="#nav-reg1" role="tab" aria-controls="nav-reg1" aria-selected="true">
                <i id="icono" class="fa fa-user"></i>
                <span>Persona Natural</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" id="nav-reg1-tab" data-toggle="tab" href="#nav-reg2" role="tab" aria-controls="nav-reg2" aria-selected="false">
                <i id="icono" class="fa fa-building"></i>
                <span>Empresa</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-reg1" role="tabpanel" aria-labelledby="nav-reg1-tab">
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="card">
                        <article class="card-body">
                            <form [formGroup]="user" (ngSubmit)="onSubmit(user.value, user.valid)">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Nombres" formControlName="firstname" type="text" [formControl]="u.firstname" >
                                            <mat-error *ngIf="firstname.invalid">{{ErrorMessageFirstname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                            <!--
                                        <label>Apellidos</label>
                                        <input formControlName="lastname" type="text" class="form-control" [ngClass]="{'is-invalid':u.lastname.touched && u.lastname.invalid}">
                                        <div *ngIf="u.lastname.touched && u.lastname.invalid" class="invalid-feedback">
                                            <div *ngIf="u.lastname.invalid">Ingrese un apellido válido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Apellidos" formControlName="lastname" type="text" [formControl]="u.lastname" >
                                            <mat-error *ngIf="lastname.invalid">{{ErrorMessageLastname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <!--
                                        <label>Tipo de Identificación</label>
                                        <select formControlName="id_type" class="form-control" [ngClass]="{'is-invalid':u.id_type.touched && u.id_type.invalid}">
                                            <option value="">Seleccione...</option>
                                            <option value="dni">DNI</option>
                                            <option value="ruc">RUC</option>
                                        </select>
                                        <div *ngIf="u.id_type.touched && u.id_type.invalid" class="invalid-feedback">
                                            <div *ngIf="u.id_type.invalid">Elija un tipo de Identificación</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <mat-select placeholder="Tipo de Identificación" formControlName="id_type" [ngClass]="u.id_type">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option value="dni">DNI</mat-option>
                                                <mat-option value="ruc">CARNET DE EXTRANJERIA</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="id_type.invalid">{{ErrorMessageId_type()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <!--
                                        <label>Número de Identificación</label>
                                        <input digitOnly formControlName="id_number" type="text" class="form-control" [ngClass]="{'is-invalid':u.id_number.touched && u.id_number.invalid}">
                                        <div *ngIf="u.id_number.touched && u.id_number.invalid" class="invalid-feedback">
                                            <div *ngIf="u.id_number.invalid">Ingrese un número de identificación válido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <input matInput digitOnly placeholder="Número de Identificación" type="text" formControlName="id_number" [formControl]="u.id_number" maxlength="11" minlength="8">
                                            <mat-error *ngIf="id_number.invalid">{{ErrorMessageId_number()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <!--
                                        <label>Número de Celular</label>
                                        <input digitOnly maxlength="9" formControlName="phone" type="text" class="form-control" [ngClass]="{'is-invalid':u.phone.touched && u.phone.invalid}">
                                        <div *ngIf="u.phone.touched && u.phone.invalid" class="invalid-feedback">
                                            <div *ngIf="u.phone.invalid">Ingrese un número de celular válido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Número de Celular" digitOnly minlength="9" maxLength="9" formControlName="phone" type="text" [formControl]="u.phone">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePhone()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <!--
                                        <label>Código Postal
                                            <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        </label>
                                        <input digitOnly maxlength="5" formControlName="postalcode" type="text" class="form-control" [ngClass]="{'is-invalid':u.postalcode.touched && u.postalcode.invalid}">
                                        <div *ngIf="u.postalcode.touched && u.postalcode.invalid" class="invalid-feedback">
                                            <div *ngIf="u.postalcode.invalid">Ingrese un código postal válido, de no saber su código postal hacer click en <i class="fa fa-question-circle"></i></div>
                                        </div>-->
                                        <mat-form-field class="pc">
                                            <input matInput placeholder="Código Postal" digitOnly maxlength="5" formControlName="postalcode" type="text" [formControl]="u.postalcode">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePostalcode()}}</mat-error>
                                        </mat-form-field>
                                        <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <!--
                                        <label>Departamento</label>
                                        <select formControlName="department" class="form-control" [ngClass]="{'is-invalid':u.department.touched && u.department.invalid}">
                                            <option value="">Seleccione...</option>
                                            <option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</option>
                                        </select>
                                        <div *ngIf="u.department.touched && u.department.invalid" class="invalid-feedback">
                                            <div *ngIf="u.department.invalid">Elija un departamento valido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <mat-select placeholder ="Departamento" formControlName="department" [ngClass]="u.department">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="department.invalid">{{ErrorMessageDepartment()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <!--
                                        <label>País</label>
                                        <select disabled class="form-control">
                                            <option selected="">Perú</option>
                                        </select>-->
                                        <mat-form-field class="size">
                                            <mat-select disabled placeholder ="Perú">
                                                <mat-option value="">Perú</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--
                                    <label>Correo Electrónico</label>
                                    <input formControlName="email" type="email" class="form-control" [ngClass]="{'is-invalid':u.email.touched && u.email.invalid}">
                                    <div *ngIf="u.email.touched && u.email.invalid" class="invalid-feedback">
                                        <div *ngIf="u.email.invalid">Ingrese un correo electrónico válido</div>
                                    </div>-->
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Correo Electrónico" formControlName="email" type="email" [formControl]="u.email">
                                        <mat-error *ngIf="u.email.hasError('email') && !u.email.hasError('required')">
                                                Ingrese un correo electrónico válido
                                        </mat-error>
                                        <mat-error *ngIf="u.email.hasError('required')">
                                                Ingrese un correo electrónico 
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <!--
                                    <label>Crear Contraseña</label>
                                    <input formControlName="password" class="form-control" type="password" [ngClass]="{'is-invalid':u.password.touched && u.password.invalid}">
                                    <div *ngIf="u.password.touched && u.password.invalid" class="invalid-feedback">
                                        <div *ngIf="u.password.invalid">Ingrese una contraseña con un minimo de 8 caracteres</div>
                                    </div>-->
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Contraseña" formControlName="password" type="password" [formControl]="u.password">
                                        <mat-error *ngIf="u.password.hasError('required')">
                                                Ingrese una contraseña con un minimo de 8 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div> 
                                <div class="form-group">
                                    <!--
                                    <label>Confirmar Contraseña</label>
                                    <input formControlName="password2" class="form-control" type="password" [ngClass]="{'is-invalid':u.password2.touched && u.password2.invalid}">
                                    <div *ngIf="u.password2.touched && u.password2.invalid" class="invalid-feedback">
                                        <div *ngIf="u.password2.invalid">La contraseña no coincide con la ingresada anteriormente</div>
                                    </div>-->
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Confirmar Contraseña" formControlName="password2" type="password" [formControl]="u.password2">
                                        <mat-error *ngIf="u.password2.hasError('required')">
                                            La contraseña no coincide con la ingresada anteriormente
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block ec"> Registrarse  </button>
                                </div>
                                <div class="text-center">  
                                    <small class="text-muted">Haciendo click en el boton 'Registrarse', confirmas que aceptas nuestros <br>
                                    </small> 
                                    <small>
                                        <button (click)="openTerminos()" class="btn a">Términos de Condiciones de Uso</button>
                                    </small>
                                    <small>
                                        y
                                    </small>
                                    <small>
                                        <button (click)="openPolitica()" class="btn a">Política de Privacidad.</button>
                                    </small>
                                </div> 
                            </form>
                        </article>
                        <div class="border-top card-body text-center">Ya tienes una cuenta? 
                            <button class="btn a" (click)="openLogin()">Inicia Sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--R E G I S T R O   P A R A    E M P R E S A-->
        <div class="tab-pane fade" id="nav-reg2" role="tabpanel" aria-labelledby="nav-reg2-tab">
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="card">
                        <article class="card-body">
                            <form [formGroup]="user" (ngSubmit)="onSubmit(user.value, user.valid)">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <!--
                                        <label>Nombres </label>   
                                        <input matInput formControlName="firstname" type="text" class="form-control" [ngClass]="{'is-invalid':u.firstname.touched && u.firstname.invalid}">
                                        <div *ngIf="u.firstname.touched && u.firstname.invalid" class="invalid-feedback">
                                            <div *ngIf="u.firstname.invalid">Ingrese un nombre válido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Nombres del Solicitante" formControlName="firstname" type="text" [formControl]="u.firstname" >
                                            <mat-error *ngIf="firstname.invalid">{{ErrorMessageFirstname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                            <!--
                                        <label>Apellidos</label>
                                        <input formControlName="lastname" type="text" class="form-control" [ngClass]="{'is-invalid':u.lastname.touched && u.lastname.invalid}">
                                        <div *ngIf="u.lastname.touched && u.lastname.invalid" class="invalid-feedback">
                                            <div *ngIf="u.lastname.invalid">Ingrese un apellido válido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Apellidos del Solicitante" formControlName="lastname" type="text" [formControl]="u.lastname" >
                                            <mat-error *ngIf="lastname.invalid">{{ErrorMessageLastname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Razón Social" formControlName="rucname" type="text" [formControl]="u.rucname" >
                                            <mat-error *ngIf="rucname.invalid">{{ErrorMessagerucname()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <!--
                                        <label>Tipo de Identificación</label>
                                        <select formControlName="id_type" class="form-control" [ngClass]="{'is-invalid':u.id_type.touched && u.id_type.invalid}">
                                            <option value="">Seleccione...</option>
                                            <option value="dni">DNI</option>
                                            <option value="ruc">RUC</option>
                                        </select>
                                        <div *ngIf="u.id_type.touched && u.id_type.invalid" class="invalid-feedback">
                                            <div *ngIf="u.id_type.invalid">Elija un tipo de Identificación</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <mat-select placeholder="Tipo de Identificación" formControlName="id_type" [ngClass]="u.id_type">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option value="ruc">RUC</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="id_type.invalid">{{ErrorMessageId_type()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <!--
                                        <label>Número de Identificación</label>
                                        <input digitOnly formControlName="id_number" type="text" class="form-control" [ngClass]="{'is-invalid':u.id_number.touched && u.id_number.invalid}">
                                        <div *ngIf="u.id_number.touched && u.id_number.invalid" class="invalid-feedback">
                                            <div *ngIf="u.id_number.invalid">Ingrese un número de identificación válido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <input matInput digitOnly placeholder="Número de RUC" type="text" formControlName="id_number" [formControl]="u.id_number" maxlength="11" minlength="8">
                                            <mat-error *ngIf="id_number.invalid">{{ErrorMessageId_number()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <!--
                                        <label>Número de Celular</label>
                                        <input digitOnly maxlength="9" formControlName="phone" type="text" class="form-control" [ngClass]="{'is-invalid':u.phone.touched && u.phone.invalid}">
                                        <div *ngIf="u.phone.touched && u.phone.invalid" class="invalid-feedback">
                                            <div *ngIf="u.phone.invalid">Ingrese un número de celular válido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <input matInput placeholder="Número de Celular" digitOnly minlength="9" maxLength="9" formControlName="phone" type="text" [formControl]="u.phone">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePhone()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <!--
                                        <label>Código Postal
                                            <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        </label>
                                        <input digitOnly maxlength="5" formControlName="postalcode" type="text" class="form-control" [ngClass]="{'is-invalid':u.postalcode.touched && u.postalcode.invalid}">
                                        <div *ngIf="u.postalcode.touched && u.postalcode.invalid" class="invalid-feedback">
                                            <div *ngIf="u.postalcode.invalid">Ingrese un código postal válido, de no saber su código postal hacer click en <i class="fa fa-question-circle"></i></div>
                                        </div>-->
                                        <mat-form-field class="pc">
                                            <input matInput placeholder="Código Postal" digitOnly maxlength="5" formControlName="postalcode" type="text" [formControl]="u.postalcode">
                                            <mat-error *ngIf="phone.invalid">{{ErrorMessagePostalcode()}}</mat-error>
                                        </mat-form-field>
                                        <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <!--
                                        <label>Departamento</label>
                                        <select formControlName="department" class="form-control" [ngClass]="{'is-invalid':u.department.touched && u.department.invalid}">
                                            <option value="">Seleccione...</option>
                                            <option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</option>
                                        </select>
                                        <div *ngIf="u.department.touched && u.department.invalid" class="invalid-feedback">
                                            <div *ngIf="u.department.invalid">Elija un departamento valido</div>
                                        </div>-->
                                        <mat-form-field class="size">
                                            <mat-select placeholder ="Departamento" formControlName="department" [ngClass]="u.department">
                                                <mat-option value="">Seleccione...</mat-option>
                                                <mat-option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="department.invalid">{{ErrorMessageDepartment()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col form-group">
                                        <mat-form-field class="size">
                                            <mat-select disabled placeholder ="Perú">
                                                <mat-option value="">Perú</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Correo Electrónico" formControlName="email" type="email" [formControl]="u.email">
                                        <mat-error *ngIf="u.email.hasError('email') && !u.email.hasError('required')">
                                                Ingrese un correo electrónico válido
                                        </mat-error>
                                        <mat-error *ngIf="u.email.hasError('required')">
                                                Ingrese un correo electrónico 
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Contraseña" formControlName="password" type="password" [formControl]="u.password">
                                        <mat-error *ngIf="u.password.hasError('required')">
                                                Ingrese una contraseña con un minimo de 8 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div> 
                                <div class="form-group">
                                    <mat-form-field class="size">
                                        <input matInput placeholder="Confirmar Contraseña" formControlName="password2" type="password" [formControl]="u.password2">
                                        <mat-error *ngIf="u.password2.hasError('required')">
                                            La contraseña no coincide con la ingresada anteriormente
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block ec" (click)="onSubmit(user.value, user.valid)"> Registrarse  </button>
                                </div>
                                <div class="text-center">  
                                    <small class="text-muted">Haciendo click en el boton 'Registrarse', confirmas que aceptas nuestros <br>
                                    </small> 
                                    <small>
                                        <button (click)="openTerminos()" class="btn a">Términos de Condiciones de Uso</button>
                                    </small>
                                    <small>
                                        y
                                    </small>
                                    <small>
                                        <button (click)="openPolitica()" class="btn a">Política de Privacidad.</button>
                                    </small>
                                </div> 
                            </form>
                        </article>
                        <div class="border-top card-body text-center">Ya tienes una cuenta? <button class="btn a" (click)="openLogin()">Inicia Sesión</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
