<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Registrarse</h4>
                </header>
                <article class="card-body">
                    <form [formGroup]="user" (ngSubmit)="onSubmit(user.value, user.valid)">
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Nombres </label>   
                                <input formControlName="firstname" type="text" class="form-control">
                            </div>
                            <div class="col form-group">
                                <label>Apellidos</label>
                                <input formControlName="lastname" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Tipo de Identificación</label>
                                <select formControlName="id_type" class="form-control">
                                    <option value="">Seleccione...</option>
                                    <option value="dni">DNI</option>
                                    <option value="passport">Pasaporte</option>
                                    <option value="ruc">RUC</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Número de Identificación</label>
                                <input digitOnly formControlName="id_number" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Número de Celular</label>
                                <input digitOnly maxlength="9" formControlName="phone" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Código Postal
                                    <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                        <i class="fa fa-question-circle"></i>
                                    </a>
                                </label>
                                <input digitOnly maxlength="5" formControlName="postalcode" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Departamento</label>
                                <select formControlName="department" class="form-control">
                                    <option value="">Seleccione...</option>
                                    <option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>País</label>
                                <select disabled class="form-control">
                                    <option selected="">Perú</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Correo Electrónico</label>
                            <input formControlName="email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Crear Contraseña</label>
                            <input formControlName="password" class="form-control" type="password">
                        </div> 
                        <div class="form-group">
                            <label>Confirmar Contraseña</label>
                            <input formControlName="password2" class="form-control" type="password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block ec"> Registrarse  </button>
                        </div>   
                        <small class="text-muted">Haciendo click en el boton 'Registrarse', confirmas que aceptas nuestros <br>
                        </small>
                        <small>
                            <a href="#">Términos de uso y Política de Privacidad.</a>
                        </small>
                    </form>
                </article>
                <div class="border-top card-body text-center">Ya tienes una cuenta? <a href="">Inicia Sesión</a></div>
            </div>
        </div>
    </div>
</div>