<div class="contenedor">
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/white xxx.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/black.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/grey.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/platinum.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/red.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/pink.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/purple.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/violet.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/orange.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/orange2.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/yellow.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/yellow2.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/green.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/green2.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/blue.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/blue2.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/gold3.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/gold.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/gold2.png" alt="">
  </div>
  <div id="zoom2" class="shadow">
    <img id="zoom" src="../../../assets/imagenes/pet sleeve/vanilla.png" alt="">
  </div>
</div>
