@import "../../../variables";
.shadow {
    position: relative;
    color:black;
    align-items:center;
    text-align: center;
    background:linear-gradient(0deg,#000,#262626);
}
.shadow:before,
.shadow:after {
    content:'';
    position:absolute;
    top:-2px;
    left:-2px;
    background:linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff
    ,#00ff00,#ffff00,#ff0000);
    background-size:300%;
    width:calc(100% + 3px);
    height:calc(100% + 3px);
    z-index:-1;
    animation:animate 50s linear infinite;
}

.shadow:after {
    filter:blur(15px);
}

@keyframes animate {
    0% {
        background-position:0 0;
    }
    50% {
        background-position:300% 0;
    }
    100% {
        background-position:0 0;
    }
}

.ec {
    color: $secondC;
    background-color: $thirdC;

    &:hover {
        color: #fff;
        background-color: $thirdC;
    }
}

