<div class="container">
    <div class="form-group text-center">
        <button  class="btn mx-2 mt-4 mb-2 ec-active" >Datos de Envio</button>
        <button  class="btn mx-2 mt-4 mb-2 ec-desactive">Realizar Pedido</button>
        <button  class="btn mx-2 mt-4 mb-2 ec-desactive">Metodos de Pago</button>
    </div>
    <div class="text-center">
        <h3 class="dots">Datos De Envio</h3>
    </div>
    <div class="my-3">
            <p class="card-text"><small class="text-muted">Recuerde que en caso usted no pueda estar presente para recibir el pedido, deberá dejarle una copia de su DNI firmada a la persona que recibira el pedido.</small></p>
            <p class="card-text"><small class="text-muted">En caso desee factura electrónica debera seleccionar el tipo de Identificación como RUC, para poder generarle su factura electrónica que posteriormente le llegará a su correo electrónico.</small></p>
        <div class="form-row">
            <div class="col form-group">
                <label>Nombres</label>
                <input [(ngModel)]="user.firstname" class="form-control" type="text" name="firstname">
            </div>
            <div class="col form-group">
                <label>Apellidos</label>
                <input [(ngModel)]="user.lastname" class="form-control" type="text" name="lastname">
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label>Tipo de Identificación</label>
                <select formControlName = "id_type" class="form-control">
                    <option value="">Seleccione...</option> 
                    <option value="dni">DNI</option>
                    <option value="pasport">Pasaporte</option>
                    <option value="ruc">RUC</option>
                </select>
            </div>
            <div class="col form-group">
                <label>Número de Identificación</label>
                <input formControlName ="id_number" [(ngModel)]="user.dni" digitOnly name="dni" type="text" class="form-control">
            </div>
        </div>
        
        <div class="form-group">
            <label>Dirección</label>
            <input [(ngModel)]="user.addressOne" name="address" type="text" class="form-control">
        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>Distrito</label>
                <select [(ngModel)]="deliveryAddress.district" class="form-control">
                    <option value="">Seleccione...</option>
                    <option *ngFor="let dep of allDistricts" [value]="dep">{{dep}}</option>
                </select>
            </div>
            <div class="col form-group">
                <label>Código Postal
                    <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </label>
                <input [(ngModel)]="deliveryAddress.postalcode" digitOnly maxlength="5" name="postalcode" type="number" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>Departamento</label>
                <select [(ngModel)]="deliveryAddress.department" class="form-control">
                    <option value="">Seleccione...</option> 
                    <option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</option>
                </select>
            </div>
            <div class="col form-group">
                <label>País</label>
                <select disabled class="form-control">
                    <option selected="">Perú</option>
                </select>
            </div>
        </div> 

        <div class="form-row">
            <div class="col form-group">
                <label>Correo Electrónico</label>
                <input [(ngModel)]="user.email" name="email" type="email" class="form-control">
            </div>
            <div class="col form-group">
                <label>Número de Celular</label>
                <input [(ngModel)]="user.phone" digitOnly maxlength="9" name="phone" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <button routerLink="/Checkout/Checkout2" class="btn btn-lg mb-2 ec-active" role="button" aria-pressed="true">Siguiente</button>
    </div>
</div>
