<div class="container my-3">
  <button (click)="goBack()" class="btn ec" type="button">
      <i class="fa fa-arrow-left"></i>
      REGRESAR
  </button>

    <div class="form-group my-2">
      <label>Nombre del Producto</label>
      <input [(ngModel)]="product.name" type="text" class="form-control">
    </div>

    <div class="row my-2">
      <div class="col">
        <div class="form-group">
          <label>Stock</label>
          <input [(ngModel)]="product.instock" step="0.0001" type="number" class="form-control">
        </div>
      </div>
      <div class="col">
        <div class="form-group" >
          <label>Color</label>
          <select class="form-control">
              <option>Default select</option>
              <option [(ngModel)]="product.color" *ngFor="let item of colors" [value]="item._id">{{item.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col">
        <div class="form-group">
          <label>Precio dolares</label>
          <input [(ngModel)]="product.price" class="form-control" type="number">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Subcategoria</label>
          <select [(ngModel)]="product.subcategory" class="form-control">
              <option>Default select</option>
          </select>
        </div>
      </div>
    </div>
 
    <div class="row my-2">
      <div class="col">
        <div class="form-group">
          <label>Descripción</label>
          <textarea [(ngModel)]="product.description" class="form-control" rows="4"></textarea>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Foto principal del producto</label>
          <input [(ngModel)]="product.principalImg" #file type="file" accept='image/*' (change)="preview(file.files)" class="form-control-file">
          <div class="mt-2">
              <img [src]="imgURL" width="180" *ngIf="imgURL">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Fotos adicionales del Producto</label>
          <input [(ngModel)]="product.images" type="file" multiple (change)="detectFiles($event)" class="form-control-file" multiple>
          <div class="mt-2">
              <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
          </div>
        </div>
      </div>
    </div>

    <button class="btn ec" type="button">
        <i class="fa fa-plus"></i>
        AGREGAR PRODUCTO
    </button>
</div>