<div class="spacio"></div>
<div class="container mt-3">
    <nav id="navspy" class="navbar navbar-expand-lg navbar-light bg-light">
        <button id="bnav" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div *ngFor="let child of childrens">
                    <a class="nav-item nav-link" (click)="scrollTo('section1')">{{child.name}}</a>
                </div>
            </div>
        </div> 
    </nav>
    <div class="h3"></div>
    <div (sectionChange)="onSectionChange($event)">
        <div *ngFor="let child of childrens" id="section1">
            <h2>{{child.name}}</h2> 
            <div  *ngFor="let item of child.products; let i ='index'">
                <div  *ngIf="i%4 == 0" class="row mb-5 show active">
                    <div *ngIf="i < child.products.length" class="col-md-3 col-sm-6 mt-3">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a [routerLink]="'/item_detail/' + child.products[i]._id">
                                    <img class="pic-1" src="https://picsum.photos/300">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title">{{child.products[i].name}}</h3>
                                <div class="price">${{child.products[i].price}}
                                    <!--Muestra Precio en Soles-->
                                    <span>S/.20.00</span>
                                </div>
                            </div>
                            <ul class="social">
                                <li><a [routerLink]="'/item_detail/' + child.products[i]._id" data-tip="Vista detallada"><i class="fa fa-search"></i></a></li>
                                <li><a href="#" data-tip="Añadir al carrito"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="i + 1 < child.products.length" class="col-md-3 col-sm-6 mt-3">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="#">
                                    <img class="pic-1" src="https://picsum.photos/300">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title">{{child.products[i+1].name}}</h3>
                                <div class="price">${{child.products[i+1].price}}
                                    <!--Muestra Precio en Soles-->
                                    <span>S/.20.00</span>
                                </div>
                            </div>
                            <ul class="social">
                                <li><a routerLink="/item_detail" data-tip="Vista detallada"><i class="fa fa-search"></i></a></li>
                                <li><a href="#" data-tip="Añadir al carrito"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="i + 2 < child.products.length" class="col-md-3 col-sm-6 mt-3">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="#">
                                    <img class="pic-1" src="https://picsum.photos/300">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title">{{child.products[i+2].name}}</h3>
                                <div class="price">${{child.products[i+2].price}}
                                    <!--Muestra Precio en Soles-->
                                    <span>S/.20.00</span>
                                </div>
                            </div>
                            <ul class="social">
                                <li><a routerLink="/item_detail" data-tip="Vista detallada"><i class="fa fa-search"></i></a></li>
                                <li><a href="#" data-tip="Añadir al carrito"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="i + 3 < child.products.length" class="col-md-3 col-sm-6 mt-3">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="#">
                                    <img class="pic-1" src="https://picsum.photos/300">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title">{{child.products[i+3].name}}</h3>
                                <div class="price">${{child.products[i+3].price}}
                                    <!--Muestra Precio en Soles-->
                                    <span>S/.20.00</span>
                                </div>
                            </div>
                            <ul class="social">
                                <li><a routerLink="/item_detail" data-tip="Vista detallada"><i class="fa fa-search"></i></a></li>
                                <li><a href="#" data-tip="Añadir al carrito"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        