@import "../../../../variables";
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s;color:black;}
.product-grid6 .price{font-size:18px;font-weight:600;}
.product-grid6 .price span{color:#999;font-size:17px;font-weight:400;margin-left:7px;display:inline-block}
.product-grid6 .social{width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li a, .product-grid6 .social li p{color:$secondC;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li a:hover, .product-grid6 .social li p:hover{color:#fff;background-color:$thirdC}
.product-grid6 .social li a:after,.product-grid6 .social li a:before, .product-grid6 .social li p:after, .product-grid6 .social li p:before{content:attr(data-tip);color:$thirdC;background-color:$secondC;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li a:after, .product-grid6 .social li p:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before, .product-grid6 .social li p:hover:after, .product-grid6 .social li p:hover:before{opacity:1}
h2 {
    text-transform: uppercase;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: none;
    background-color: $firstC;
    border-color: $firstC;
    .fa {
        color: white !important;
        background-color: $thirdC;
        border: 1.5px solid $thirdC !important;
    }
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#tabs {
    margin-left: 20%;
    padding: 20px;
    
    li {
        margin: 10px 20px;
        a {
            text-decoration: none;
        }
        a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $secondC;
            transition: width .5s;
        }
        a:hover::after {
            width: 100%;
        }
        i {
            text-align: center;
            justify-content: space-between;
            padding: 7px;
            border: 1.5px solid $secondC;
            border-radius: 50%;
            color: $thirdC;
            background-size: 250% 250%;
            background-image: 
            linear-gradient(to top, $thirdC 50%, transparent 50%);
            transition: background-position 1000ms, color 1000ms ease, border-color 1000ms ease;
        }
        span {
            color:black;
            display:block;
            text-transform:uppercase;
        }
        &:hover {
            i {
                color: #fff;
                border: 1.5px solid $thirdC;
                background-image: 
                linear-gradient(to top, $thirdC 51%, transparent 50%);
                background-position: 0 100%;
                transition: background-position 1000ms, color 1000ms ease, border-color 1000ms ease;
            }
            span {
                color: $thirdC;
            }
        }
    }
}

.nav-tabs {
    border-bottom: none;
}
.spacio {
    margin-top: 70px;
}
/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
    }
    #tabs {
        margin-left: 8%;
        li {
            margin: 5px 10px;
        }
        i {
            margin-top: 10px;
            
        }
    }
}
@media (max-width : 463px) {
    #tabs {
        margin-left: 8%;
        padding: 0px;
        li {
            margin: 5px 10px;
        }
        i {
            margin-top: 10px;
            
        }
    }
}
@media (max-width : 421px) {
    #tabs {
        margin-left: 8%;
        padding: 0px;
        margin-top: 5px;
        li {
            margin: 0px;
        }
        i {
            margin-top: 10px;
            
        }
    }
}
@media (max-width : 375px) {
    #tabs {
        margin-left: 5%;
        padding: 0px;
        margin-top: 5px;
        li {
            margin: 0px;
        }
        i {
            margin-top: 10px;
            
        }
    }
}