<div id="main-carousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mask flex-center">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-12 order-md-1 order-2">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Kit de Refrigeración Personalizada </h2>
                  <h5> Aquiere tus kits aqui con nosotros <i class="fa fa-arrow-down"></i></h5>
                  <a routerLink="/categoria/Refrigeración%20Liquida%20Personalizada" class="btn btn-info">COMPRAR</a>
                </div>
              </div>
              <div class="col-md-5 col-12 order-md-2 order-1"><a routerLink="/categoria/Refrigeración%20Liquida%20Personalizada"><img src="../../../assets/imagenes/home-view-img/slider1.png" class="mx-auto" alt="slide"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mask flex-center">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-12 order-md-1 order-2">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Personaliza tu Cables </h2>
                    <h5> Aquiere tus forros aqui con nosotros <i class="fa fa-arrow-down"></i></h5>
                    <a routerLink="/category/view" class="btn btn-info">COMPRAR</a>
                </div>
              </div>
              <div class="col-md-5 col-12 order-md-2 order-1"><img src="../../../assets/imagenes/home-view-img/slider2.png" class="mx-auto" alt="slide"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
  </a>
</div>
<!--img width 400px height 460px-->


<div class="container">
    <section class="divided clearfix">
        <div class="row py-2">
            <div class="col col-12 col-sm-12 col-md-6 p-lg-5">
                <div class="p-5">
                    <h5 class="h5 text-muted">Refrigeración </h5>
                    <h1 class="h1 mb-5">Líquida </h1>
                    <p>
                        Este sistema utiliza 
                        un sistema de conductos conectados a los componentes del PC que se deben 
                        refrigerar.

                        Por el interior de esos conductos fluye un líquido con propiedades 
                        refrigerantes impulsado por una bomba que crea una cierta presión para
                        impulsar el líquido por todo el circuito. Cuando el líquido pasa a través 
                        de los componentes, extrae el calor generado por los componentes y lo 
                        lleva hasta un radiador con láminas de aluminio donde unos ventiladores 
                        se encargarán de hacer circular aire entre esas láminas para volver a 
                        enfriar el líquido antes de volver a empezar de nuevo el ciclo de refrigerado.
                    </p>
                    <div id="zoom2">
                        <img id="zoom" class="w-100" src="../../../assets/imagenes/home-view-img/refrigeracion-liquida.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 p-lg-5">
                <div class="p-5">
                    <h5 id="right" class="h5 text-muted">Refrigeración </h5>
                    <h1 id="right" class="h1 mb-5">Por Aire </h1>
                    <p>
                        Los sistemas de refrigeración por aire son aquellos que utilizan las 
                        cualidades de conductividad del calor de algunos metales como el cobre 
                        o el aluminio para disipar el calor que se genera en el interior del 
                        procesador, de la tarjeta gráfica o en los módulos de memoria RAM.

                        Para mejorar las condiciones de refrigeración de estos metales se 
                        fuerza la entrada de aire mediante un ventilador para acelerar ese
                        intercambio de temperatura.
                        Una de las claves para obtener buenos resultados con este sistema
                        es mantener un flujo de aire fresco constante en el interior de la 
                        caja.
                    </p>
                    <div id="zoom2">
                        <img id="zoom" class="w-100" src="../../../assets/imagenes/home-view-img/refrigeracion-aire.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section class="divided clearfix">
        <div class="row py-2">
            <div class="col col-12 col-sm-12 col-md-6 p-lg-5">
                <div class="p-5">
                    <h5 class="h5 text-muted">Foco </h5>
                    <h1 class="h1 mb-5">LED </h1>
                    <div id="zoom2">
                        <img id="zoom" class="w-100" src="/assets/gif/smartbulb.gif" alt="">
                    </div>
                    <p class="mt-4">
                      Utilizan leds o diodos emisores de luz, como fuente lumínica en lugar de gases o filamentos de wolframio. Las lámparas led se fabrican con agrupaciones de led de mayor o menor densidad, lo que determinará su potencia lumínica además de su calidad.
                    </p>
                </div>
            </div>
            <div class="versus">VS</div>
            <div class="col col-12 col-sm-12 col-md-6 p-lg-5">
                <div class="p-5">
                    <h5 id="right" class="h5 text-muted">Foco </h5>
                    <h1 id="right" class="h1 mb-5">Convencional </h1>
                    <div id="zoom2" class="mb-2">
                        <img id="zoom" class="w-100" src="/assets/gif/bulb.gif" alt="">
                    </div>
                    <p class="mt-4">
                      Generan luz debido al calentamiento de un filamento metálico de wolframio o tugsteno por efecto Joule cuando circula una corriente eléctrica a través de dicho filamento. La mayor parte de la electricidad que recibe este filamento se transforma en calor y solamente el 15% de la energía recibida se convierte en luz.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <p class="diferencia mb-5">
        Los Focos led son más eficientes como consecuencia de su propio proceso para la generación de luz. Este proceso se conoce como electroluminiscencia. Los diodos led transforman el 80-90% de la energía consumida en luz, mientras que un foco convencional o de bajo consumo solamente convierte en luz el 10-15% y el 85-90% restante se desperdicia en forma de calor. De esta manera el ahorro que supone el empleo de la tecnología led es del 80-90% aproximadamente en nuestras facturas de la luz.
    </p>
</div>