@import "../../../variables";
* {
	padding: 0;
}
/*CAROUSEL STYLES*/
#main-carousel {
  text-shadow: 1px 2px 3px #0000001f;
  background: white;
  padding: 30px 0px;
  button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  h5, h2 {
    color: black;
  }
  a {
      color: black;
        &:hover {
            text-decoration: none;
            display: inline-block;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            color: $secondC;
        }
    }
  
  img {
    display: inline-block;
    max-width: 100%;
    width: 400px;
    height: 460px;
  }
}

#main-carousel h5 {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 300;
  -webkit-animation: leftToRight 1s ease-in-out .5s;
          animation: leftToRight 1s ease-in-out .5s;
}

#main-carousel h2 {
  font-size: 4rem;
  font-weight: 900;
  font-family: inherit;
  letter-spacing: 2px;
  -webkit-animation: topToBottom 1s linear .3s;
          animation: topToBottom 1s linear .3s;
}

#main-carousel .carousel-caption {
  right: 15%;
  bottom: unset;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
}

#main-carousel .carousel-control-next,
#main-carousel .carousel-control-prev {
  top: 50%;
  bottom: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 3.5rem;
  -webkit-transition: 5s all;
  transition: 5s all;
}

#main-carousel .carousel-control-next {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#main-carousel .carousel-control-prev {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#main-carousel .btn-info {
  background: transparent;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  font-size: 1.8rem;
  position: relative;
  padding: 20px 0 0;
  margin: 20px 0 0;
}


#main-carousel .btn-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 5px;
  background-color: $secondC;
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*END CAROUSEL STYLES*/
.container {
    overflow: hidden;
}
.carousel-inner {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
#t-pro {
    font-weight: 300 !important;
    font-size: 2.5em;
    line-height: 42px;
}
.fa {
    color: $secondC;
    &:hover{
        color: $thirdC;
    }
}
.category-link {
    text-decoration: none;
    color: black;
}
.category-link2 {
    &:hover {
        color: $secondC;
    }
}
.d-flex p {
    margin-bottom: 0px;
}
.category {
    margin: 0px 25px 0px 25px;
}
.versus{
    position: absolute;
    background: #f7f8f9;
    border-radius: 100%;
    border: 1px solid #9361D4;
    color: #A788D1;
    font-size: 1.25em;
    height: 78px;
    left: 50%;
    margin-left: -39px;
    padding-top: 22px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 78px;
    z-index: 4;
 }
.divided {
    position: relative;
}
.divided p {
	text-align: justify; 
}
.diferencia {
    text-align: justify;
    margin: 0px 35px;
}
#right {
	text-align: right;
}
.divided::after {
    background: linear-gradient(#f0f7fd 0, #813FD9 50%, #f0f7fd 100%);
    width: 1px;
    top: 100px;
    bottom: 100px;
    left: 50%;
    height: auto;
    right: auto;
    position: absolute;
}
#zoom {
    transition: transform .2s; /* Animation */
    width: auto;
    height: auto;
  }
#zoom2 {
    transition: transform .2s; /* Animation */
}
#zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#zoom2:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media (max-width: 768px) {
    .divided::after {
        background: linear-gradient(90deg, #f0f7fd 0, #813FD9 50%, #f0f7fd 100%);
        content: "";
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        height: 1px;
        width: 100%;
    }   
}

.border-top-0 {
     border-top:0!important;
}
 .border-right-0 {
     border-right: 0!important;
}
 .border-left-0 {
     border-left: 0!important;
}
 .border-bottom-0 {
     border-bottom: 0!important;
}
 @media (min-width: 576px) {
     .border-sm-top {
         border-top: 1px solid #dee2e6!important;
    }
     .border-sm-right {
         border-right: 1px solid #dee2e6!important;
    }
     .border-sm-left {
         border-left: 1px solid #dee2e6!important;
    }
     .border-sm-bottom {
         border-bottom: 1px solid #dee2e6!important;
    }
     .border-sm-top-0 {
         border-top:0!important;
    }
     .border-sm-right-0 {
         border-right: 0!important;
    }
     .border-sm-left-0 {
         border-left: 0!important;
    }
     .border-sm-bottom-0 {
         border-bottom: 0!important;
    }
}
 @media (min-width: 768px) {
     .border-md-top {
         border-top: 1px solid #dee2e6!important;
    }
     .border-md-right {
         border-right: 1px solid #dee2e6!important;
    }
     .border-md-left {
         border-left: 1px solid #dee2e6!important;
    }
     .border-md-bottom {
         border-bottom: 1px solid #dee2e6!important;
    }
     .border-md-top-0 {
         border-top:0!important;
    }
     .border-md-right-0 {
         border-right: 0!important;
    }
     .border-md-left-0 {
         border-left: 0!important;
    }
     .border-md-bottom-0 {
         border-bottom: 0!important;
    }
}
 @media (min-width: 992px) {
     .border-lg-top {
         border-top: 1px solid #dee2e6!important;
    }
     .border-lg-right {
         border-right: 1px solid #dee2e6!important;
    }
     .border-lg-left {
         border-left: 1px solid #dee2e6!important;
    }
     .border-lg-bottom {
         border-bottom: 1px solid #dee2e6!important;
    }
     .border-lg-top-0 {
         border-top:0!important;
    }
     .border-lg-right-0 {
         border-right: 0!important;
    }
     .border-lg-left-0 {
         border-left: 0!important;
    }
     .border-lg-bottom-0 {
         border-bottom: 0!important;
    }
}
 @media (min-width: 1200px) {
}
carousel {
    width: 20%;
}

