@import "../../../variables";

nav {
	background: $secondC;
}
body {
    padding-top: 90px;
}
#search {
    margin-right: 20px;
}
a {
    text-decoration: none;
}
a.nav-link.active-link {
    color: #000000;
}
#categorydiv a{
    color: black;
}
.btn-success {
    color: #fff;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}
#categorydiv {
    left: 0;
    right: inherit;
}
.dropdown-menu {
    left: inherit;
    right: 0;
}
.logo_login {
    width: 300px;
    height: 300px;
}
#logoE {
    width: 30px;
    height: 30px;
}

.btn-ec {
    color: $thirdC;
    border: 1px solid $thirdC;

    &:hover {
        color: #FFFFFF;
        background-color: $thirdC;
    }
}
.ec {
    color: $secondC;
    background-color: $firstC;
    border: 1.5px solid;
    border-radius: 8px;
    &:hover {
        color: #fff;
        background-color: $thirdC;
    }
}
.newUser {
    color: black;
    &:hover{
        color: $secondC;
    }
}
/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}