<nav class="navbar sticky-top navbar-expand-lg navbar-light ">
  <a class="navbar-brand" routerLink="/home">
    <img id="logoE" src="./assets/imagenes/logos/logo-envi-c.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Inicio</a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
            <div id="categorydiv" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/categoria/refrigeracion">Refrigeración Líquida Personalizada</a> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/categoria/compu">Componentes de Computadora</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/categoria/sistema">Sistema de Iluminación</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/personalizacion">Personalización De Pc</a>
            </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sobre_nosotros" routerLinkActive="active-link">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/novedades" routerLinkActive="active-link">Novedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/zona_gamer" routerLinkActive="active-link">Zona Gamer
              <i class="fa fa-gamepad"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact_us" routerLinkActive="active-link">Contactanos
            </a>
          </li>
        </ul>
          <div>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 col-lg-20" type="search" placeholder="Buscar..." aria-label="Search">
            </form>
          </div>
          <div class="mr-sm-2 col-lg-20">
              <div class="dropdown">
                <button (click)="openModal(loginModal)" data-toggle="modal tooltip" data-placement="bottom" title="Iniciar Sesión / Perfil"  class="btn btn-ec"><i class="fa fa-user"></i></button>
              </div>
          </div>

          <div>
            <a routerLink="/shopping_cart">
                <button class="btn btn-ec mr-sm-2 col-lg-20" type="button"><i class="fa fa-shopping-cart"></i>
                  <span class="badge badge-outline">0</span>
                </button>
            </a>
        </div>
        <div>
          <div class="dropdown">
            <button (click)="logout()" data-toggle="modal tooltip" data-placement="bottom" title="Cerrar Sesión" class="btn btn-ec"><i class="fa fa-sign-out"></i></button>
          </div>
      </div>
  </div>
</nav>

<ng-template #loginModal>
      <div class="modal-content">
          <div class="modal-header">
              <h3>Iniciar Sesión</h3>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modalRef.hide()" >×</button>
          </div>

          <div class="login-container modal-body">
            <div class="box_login">
              <div class="modal_login">
                  <div class="image_form_login  text-center">
                    <img class="logo_login" src="./assets/imagenes/logos/logo-envi-c2.png" alt="">
                  </div>

                  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value, userForm.valid)">
                    <div class="formulario_login">
                      <div class="form-group">
                        <div class="input">
                          <div class="login-form">
                            <label  class="control-login">Correo Electronico</label>
                            <input formControlName="email" type="text" class="form-control" >
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input">
                          <div class="login-form">
                            <label  class="control-login">Contraseña</label>
                            <input formControlName="password" type="password" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group text-center my-5">
                      <button (click)="onSubmit()" class="btn ec btn-lg" id="btnLogin">Iniciar Sesión</button>
                    </div>

                    <div>
                      <button data-dismiss="modal" routerLink="/recuperarcontra" class="float-lef btn newUser">Olvidaste tu contraseña?</button>
                      <button (click)="newUser()" data-dismiss="modal" class="float-right btn newUser">Usuario Nuevo?</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
</ng-template>