@import "../../../variables";

nav {
	background: $secondC;
}
body {
    padding-top: 90px;
}

a.nav-link.active-link {
    color: #000000;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}
.dropdown-menu[_ngcontent-c1]{
    left: inherit;
    right: 0;
}
#categorydiv {
    left: 0;
    right: inherit;
}
.dropdown-menu {
    left: inherit;
    right: 0;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}