@import '../../../../../variables.scss';
.ec {
    color: $secondC;
    background-color: $thirdC;

    &:hover {
        color: #fff;
        background-color: $thirdC;
    }
}
#fa {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 10px;
}
.fa {
    color: #fff;
    &:hover {
    color: $secondC;
    }
}