<div class="container my-3">
    <button (click)="goBack()" class="btn ec" type="button">
        <i class="fa fa-arrow-left"></i>
        REGRESAR
    </button>

    <button routerLink ='/admin/dashboard/products/addproducts' class="btn ec float-right mx-2" type="button">
        <i class="fa fa-plus"></i>
        AÑADIR UN PRODUCTO
	</button>
	
	<button routerLink ='/admin/dashboard/products/addproducts' class="btn ec float-right" type="button">
        <i class="fa fa-plus"></i>
        ACTUALIZAR UN PRODUCTO
    </button>

    <div class="row my-3">
		<div class="col-md-12">
			<h3>PRODUCTOS</h3>
			<table class="table table-striped table-dark">
				<thead>
				    <tr>
				        <th scope="col">Nombre Del Producto</th>
				        <th scope="col">Categoria Del Producto</th>
						<th scope="col">Stock</th>
						<th scope="col">Color</th>
				        <th scope="col">Precio Dolares</th> 
				    </tr>
				</thead>
				<tbody>
					<tr *ngFor="let Product of allProducts">
						<td>{{Product.name}}</td>
						<td>{{Product.subcategory}}</td>
						<td>{{Product.inStock}}</td>
						<td>{{Product.color}}</td>
						<td>{{Product.price}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>