@import '../../../variables.scss';
.dots {
	&:after {
		display         : inline-block;
		margin          : 0 0 9px 15px;
		height          : 3px;
		content         : " ";
		text-shadow     : none;
		background-color: $secondC;
		width           : 60px;
	}

	&:before {
		display         : inline-block;
		margin          : 0 15px 9px 0;
		height          : 3px;
		content         : " ";
		text-shadow     : none;
		background-color: $secondC;
		width           : 60px;
	}
}
.right {
	text-align: right;
}
.container {
	margin: 50px auto;
}
a {
	margin: auto 20px;
	font-size: 20px;
}
#nav-tabContent {
	margin: 20px auto;
}
.wrap {
    background: white;
}
.card + .card-group {
	border-radius: 8px;
}

.ico-wrap {
	margin: auto;
}

.mbr-iconfont {
    font-size: 4rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p {
	font-size: 20px;
	text-align: justify;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.logoEc {
	width: 200px;
	height: 250px;
}
.container {
	overflow: hidden;
}
.card {
	background: $firstC;
	border: none;
}