<div class="about_us">
	<h2 class="text-center my-4 dots">EcoGozo</h2>
	<div class="container">
	    <div class="row">
	        <div class="col-md-8">
	        	<p>Somos una empresa peruana que se inicia con la necesidad y esperanza de contribuir en el bienestar Social, Económico, Ambiental y Cultural, mediante la Innovación Tecnológica promovida por nuestra marca Envi-C.  Ser una contribución para mejorar el planeta ofreciendo tecnología amigable con el medio ambiente, innovando tecnologías más limpias, que permita un mundo mejor para todos.</p>
	        </div>
	        <div class="col-md-4">
	            <div class="imgAbt">
	                <img id="img" src="./assets/imagenes/ecogozo.png" />
	            </div>
	        </div>
	    </div>
	</div>
	<h2 class="text-center my-4 dots">Envi-C</h2>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	            <div class="imgAbt">
	                <img id="img" src="https://picsum.photos/300" />
	            </div>
	        </div>
	        <div class="col-md-8">
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis optio molestiae, ipsam totam error facilis perferendis quae recusandae eos natus aperiam repellat eaque provident, reiciendis aliquid dolores, molestias beatae delectus.</p>
	        </div>
		</div>
	</div>
	<h2 class="text-center my-4 dots">Misión  Visión</h2>
	<div class="container">
	    <div class="row">
	        <div class="col">
	        	<p><strong>Mision</strong>: Adoptar un modelo de sistema de trabajo eficiente, ofreciendo productos y servicios con innovación tecnológica personalizada, inspirados y orientados hacia una cultura de sustentabilidad, con precios accesibles y de calidad. Así como también ser una herramienta de aprendizaje para inspirar a soluciones que contribuyan en el bienestar Social, Económico, Ambiental y Cultural.</p>
			</div>
			<div class="col">
				<p><strong>Vision</strong>: Contribuir con la humanidad con tecnología ecológica, alcanzable dentro de los próximos 15 años, logrando tener impacto en las próximas 7 generaciones en el aspecto Social, Económico, Ambiental y Cultural, brindado así una mejor calidad de vida para todos, en mira del desarrollo hacia una cultura de sostenibilidad.</p>
			</div>
	    </div>
	</div>
	<h2 class="text-center my-4 dots">El Equipo</h2>
	<div class="container">
		<div class="d-flex flex-row justify-content-between">
			<div class="d-flex flex-column align-items-center team-member" *ngFor="let member of team">
				<img class="member_img" src="https://picsum.photos/200" alt="">
				<b class="mt-2">{{member.name}}</b>
				<p>{{member.career}}</p>
			</div>
		</div>
	</div>
</div>