.dots {
	&:after {
		display         : inline-block;
		margin          : 0 0 9px 15px;
		height          : 3px;
		content         : " ";
		text-shadow     : none;
		background-color: #00bd56;
		width           : 60px;
	}

	&:before {
		display         : inline-block;
		margin          : 0 15px 9px 0;
		height          : 3px;
		content         : " ";
		text-shadow     : none;
		background-color: #00bd56;
		width           : 60px;
	}
}
.imgAbt {
	width : 500px;
	height: auto;
}
#img {
	width: 100%;
}
p {
	text-align: justify;
	font-size: 20px;
}
.right {
	text-align: right;
}
.member_img {
	border-radius   : 50%;
	border          : 2.5px solid transparent;
	background-image: linear-gradient(135deg,#00DB93 0%,#130146 100%);
}
.container {
	margin: 50px auto;
}
a {
	margin: auto 20px;
	font-size: 20px;
}
#nav-tabContent {
	margin: 20px auto;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,#00DB93 0%,#130146 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re}