<div class="container">
    <div class="form-group text-center">
        <button routerLink="/Checkout/Checkout1"  class="btn mx-2 mt-4 mb-2 ec-desactive" >Datos de Envio</button>
        <button routerLink="/Checkout/Checkout2" class="btn mx-2 mt-4 mb-2 ec-desactive" >Metodo de Pago</button>
        <button  class="btn mx-2 mt-4 mb-2 ec-active">Realizar Pedido</button>
    </div>
    <div class="text-center">
        <h3 class="dots">Realizar Pedido</h3>
    </div>
    
    <div class="form-group text-right">
        <button routerLink="/Checkout/Checkout3" class="btn btn-lg mb-2 ec-active" role="button" aria-pressed="true">Siguiente</button>
    </div>
</div>