@import "../../../../variables";

.ec-active {
    color: $secondC;
	background-color: $firstC;
	border: 1.5px solid;
	border-radius: 8px;

    &:hover {
        color: #fff;
        background-color: $thirdC;
    }
}
.ec-desactive {
    color: $thirdC;

    &:hover {
        color: $secondC;
    }
}
.dots {
	&:after {
		display         : inline-block;
		margin          : 0 0 9px 15px;
		height          : 3px;
		content         : " ";
		text-shadow     : none;
		background-color: $secondC;
        width           : 60px;
        color: $thirdC;
	}

	&:before {
		display         : inline-block;
		margin          : 0 15px 9px 0;
		height          : 3px;
		content         : " ";
		text-shadow     : none;
		background-color: $secondC;
        width           : 60px;
        color: $thirdC;
	}
}

.applogo {
    width: 100px;
	height: 100px;
	
}
input[type="radio"] {
	display: none;
	height: 20px;
	width: 20px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	background: #FFF;
	border: 1px solid #d2d2d2;
	border-radius: 100%;
	&:hover {
		border-color: #c2c2c2;
	}
	&:checked {
		background:gray;
	}
 }