@import "../../../variables";
.profile {
    margin: 10px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    box-shadow:1px 1px 10px rgba(0,0,0,0.3)
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; 
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: $thirdC;
    font-size: 16px;
    font-weight: 600;
    margin-top:5px;
    margin-bottom: 7px;
  }
  .img-circle {
      border-radius: 50%;
  }
  
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: $secondC;
}
.col-3 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
  margin: 10px auto;
}
h1 {
  text-align: center;
}

.container {
  margin: 35px auto;
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.ec {
  color: $secondC;
  background-color: $firstC;
  border: 1.5px solid;
  border-radius: 8px;
  &:hover {
    color: #fff;
    background-color: $thirdC;
  }
}
.ec-order { 
  color: $thirdC;
  background-color: $secondC;
  border: 1px solid $secondC;
  border-radius: 8px;
}

.ec-order a {
  color: black;
  &:hover {
      text-decoration: none;
      color: #fff;
  }
}
.faAyuda {
  color: $secondC;
  &:hover {
    text-decoration: none;
    color: $thirdC;
  }
}
.space {
  margin-top: 75px;
}

#cabTable {
  background-color: #eee !important;
  color: $thirdC;
}
.progress {
  background-color: white ;
  border:solid 1px #ced4da;
  .progress-bar {
    background-color: $secondC;
  }

}
.botonesAcciones {
  align-items: center;
  justify-content: space-between;
  display: flex;
  .btnAcc {
    color: $thirdC;
    &:hover {
      color: $secondC;
    }
  }
}
.progressButton {
  .progressIcons {
    text-align: center;
    justify-content: space-between;
    display: flex;
    }
  .ProgressLabels {
    text-align: center;
    justify-content: space-between;
    display: flex;
  }
}
/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
  }
  .ec {
    width: 100%;
  }
  .overfl {
    width: 100%;
    display: block;
    overflow-x: auto;
  }
}