<div class="container space">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-usertitle">
                    <img src="https://picsum.photos/300" class="img-circle" width="100px">
                    <div class="profile-usertitle-name">
                        {{user.firstname + ' ' + user.lastname}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mi Cuenta</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mis Ordenes</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Mi Dirección de Envio</a>
                                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Ajustes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nombres</label>
                            <input [(ngModel)]="user.firstname" disabled class="form-control" type="text" name="firstname" placeholder="Nombres">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Apellidos</label>
                            <input  [(ngModel)]="user.lastname" disabled class="form-control" type="text" name="lastname" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Número de Celular</label>
                            <input [(ngModel)]="user.phone" disabled class="form-control" type="text" name="phone" placeholder="Número de celular">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Correo Electrónico</label>
                            <input [(ngModel)]="user.email" disabled class="form-control" type="text" name="email" placeholder="Correo electrónico">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Dirección de envio</label>
                            <input [(ngModel)]="user.addressOne" disabled class="form-control" type="text" name="address" placeholder="Dirección de envio">
                        </div>
                        <!-- <div class="form-group col-md-6">
                            <label>Dirección 2</label>
                            <input  [(ngModel)]="user.address2" disabled class="form-control" type="text" name="address">
                        </div> -->
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    
                    <h3>Pedidos</h3>
                    <table class="table table-bordered track_tbl overfl">
                        <thead id="cabTable">
                            <tr>
                                <th>PEDIDO</th>
                                <th>FECHA</th>
                                <th>ESTADO</th>
                                <th>MONTO</th>
                                <th class="text-center">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td>012023</td>
                                <td>11/22/2019</td>
                                <td>COMPLETO</td>
                                <td>S/. 200</td>
                                <td class="botonesAcciones">
                                    <button (click)="detail()" class="btn btnAcc"><i class="fa fa-eye mr-1"></i>Detalle</button>
                                    <button (click)="ticket()" class="btn btnAcc"><i class="fa fa-file mr-1"></i>Comprobante</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label class="control-label"># de pedido</label>
                        <input type="text" class="form-control" value="" placeholder="# Introduce el número del pedido">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn ec">Ver el estado</button>
                    </div>
                    <h4>El Estado de tu Pedido :</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="prefix">Fecha del Pedido: </span>
                            <span class="ec-order">12.12.2013</span>
                        </li>
                        <li class="list-group-item">
                            <span class="prefix">Última Actualización: </span>
                            <span class="ec-order">12.15.2013</span>
                        </li>
                        <li class="list-group-item">
                            <span class="prefix">Comentarios: </span>
                            <span class="ec-order">customer's comment goes here</span>
                        </li>
                    </ul>
                    <div class="progress mt-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
                    </div>
                    <div class="progressButton mt-1 ">
                        <div class="progressIcons mx-3">
                            <img src="./assets/imagenes/iconos/order.png" alt="">
                            <img src="./assets/imagenes/iconos/task.png" alt="">
                            <img src="./assets/imagenes/iconos/shipped.png" alt="">
                            <img src="./assets/imagenes/iconos/confirm.png" alt="">
                        </div>
                        <div class="ProgressLabels">
                            <h5>Pedido</h5>
                            <h5>Confirmado</h5>
                            <h5>Enviado</h5>
                            <h5>Completo</h5>
                        </div>
                    </div>
                </div>
                <!--ACTUALIZACION ADDRESS 1 -->
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h1>Actualizar Dirección de Envio</h1>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Dirección</label>
                            <input [(ngModel)]="deliveryAddress.name" class="form-control" type="text" name="address" placeholder="Dirección">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Código Postal
                                <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                    <i class="fa fa-question-circle faAyuda"></i>
                                </a>
                            </label>
                            <input [(ngModel)]="deliveryAddress.postalCode" name="postalcode" digitOnly maxlength="5" type="number" class="form-control" placeholder="Código postal">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Departamento</label>
                            <select [(ngModel)]="deliveryAddress.department" class="form-control">
                                <option value="">Seleccione...</option>
                                <option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Distrito</label>
                            <select [(ngModel)]="deliveryAddress.district" class="form-control">
                            <option value="">Seleccione...</option>
                            <option *ngFor="let dep of allDistricts" [value]="dep">{{dep}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button (click)="updateAddress()" class="btn ec btn-block">Actualizar</button>
                    </div>
                    <!--ACTUALIZACION ADDRESS 2 -->
                    <!-- <h1>Actualizar Dirección 2</h1>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Dirección</label>
                            <input [(ngModel)]="user.address2" class="form-control" type="text" name="address">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Código Postal
                                <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </label>
                            <input [(ngModel)]="user.postalcode" name="postalcode" digitOnly maxlength="5" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Departamento</label>
                            <select [(ngModel)]="user.department" class="form-control">
                            <option value="">Seleccione...</option>
                            <option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Distrito</label>
                            <select [(ngModel)]="user.district" class="form-control">
                            <option value="">Seleccione...</option>
                            <option *ngFor="let dep of allDistricts" [value]="dep">{{dep}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button (click)="updateAddress()" class="btn btn-block">Actualizar</button>
                    </div> -->
                </div>
                <!-- ACTUALIZACION CONTRASEÑA  -->
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <h1>Actualizar Contraseña</h1>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <input [(ngModel)]="user.password" placeholder="Nueva contraseña" name="password" class="form-control" type="password">
                        </div> 
                        <div class="form-group col-md-5">
                            <input [(ngModel)]="user.password2" placeholder="Confirmar contraseña" name="password2" class="form-control" type="password"> 
                        </div>
                        <div class="form-group col-md-2">
                            <button (click)="updatePassword()" class="btn btn-block ec"> Actualizar </button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>