<div class="container">
  <mat-dialog-content>
    <h3>Términos de Garantía</h3>
    <p>
      El presente documento establece la política de garantía, que será aplicada de acuerdo
      con el tipo de producto. Esta política de garantía esta sujeta a ser modificada sin previo
      aviso, y en lo posterior publicada en la pagina web de <strong>ECOGOZO S.A.C</strong> (www.ecogozo.com.pe) en la sección de garantía.
    </p>
    <p>
      Para hacer uso de la garantía, el cliente sin excepción deberá presentar su
      comprobante de compra (original o copia), emitida por <strong>ECOGOZO S.A.C</strong>
    </p>
    <p>
      La garantía es valida solo para productos adquiridos en <strong>ECOGOZO S.A.C</strong>, no es aplicable para terceros.
    </p>
    <p>
      La garantía es aplicable para cambio o remanufacturación del producto, en caso no se contase con stock se otorgará un cambio alterno del mismo valor o se asignara una nota de crédito.
    </p>
    <p>
      La garantía de los productos, en que el fabricante cuente con CAS (Centro Autorizado de Servicio) será cubierto bajo sus propios términos de garantía. Para el trámite de su garantía deberá llevar el producto defectuoso al CAS, con el comprobante de compra emitida por <strong>ECOGOZO S.A.C</strong>.
    </p>
    <p>
      No se aceptarán cambios ni devoluciones por incompatibilidad con productos de otros proveedores, ni por errores de compra, esto se encontrara sujeto a validación por parte de los encargados de garantía así como las penalizaciones por gastos administrativos.
    </p>
    <p>
      La garantía no será válida en los siguientes casos:
    </p>
    <ul>
      <li>Productos con el periodo fuera del tiempo de garantía.</li>
      <li>Daño físico.</li>
      <li>Etiquetas del fabricante o de <strong>ECOGOZO S.A.C</strong> adulteradas o removidas.</li>
      <li>Evidencia de intento de reparaciones o modificaciones.</li>
      <li>Evidencia de ralladuras o maltratos daños causados por fluctuaciones eléctricas externas, sobrecarga, mala Instalación, desastre natural.</li>
      <li>Presencia de cualquier elemento corrosivo (oxido, ácidos, líquidos, químicos, etc.)</li>
      <li>Suministros gastados por uso, rellenados, sello de garantía roto.</li>
      <li>Fallas provocadas por uso de software de forma irresponsable o de terceros.</li>
    </ul>
    <p>
      La garantía no se hará responsable por el software o datos almacenados en las unidades de almacenamiento (Discos Duros Internos, externos, solidos, USB, etc.) se recomienda realizar copia de seguridad (BackUp).
    </p>
    <p>
      Los productos que cuenten con más de 60 días calendarios pendientes de recojo, dejaran de estar a cargo de la responsabilidad de <strong>ECOGOZO S.A.C</strong>; siendo considerados en estado de abandono, sin lugar a reclamo.
    </p>
    <p>
      Para el caso de cliente de provincia, el cliente asumirá la obligación de cubrir con los gastos de envío y retorno de los productos de garantía. El cliente se contactará con el encargado de garantía via email a garantía@ecogozo.com.pe / celular : 931 854 197 , reportando la falla y coordinar la recepción del producto.
    </p>
    <h4>Tipos de Garantía</h4>
    <ol>
      <li>
        <h5>Garantía Avanzada</h5>
        <p>Es un proceso de solución rápida. Cuando el cliente reporta una falla del producto entre los primeros 5 días hábiles desde la compra, se le cambiara inmediatamente o se le asignara una nota de crédito (sujeto a validación técnica), no cuenta si el producto cuenta con CAS.</p>
      </li>
      <li>
        <h5>Garantía Estándar</h5>
        <p>Es un proceso de solución que dura aproximadamente de 8 a 12 días hábiles. Cuando el cliente deja su producto para su proceso regular en el lapso de los días mencionados, se le dará la solución (sujeto a validación técnica), no cuenta si el producto cuenta con CAS.</p>
      </li>
      <li>
        <h5>Garantía Expandible</h5>
        <p>Es un proceso de solución que dura aproximadamente de 8 a 15 días hábiles. Cuando el producto del cliente paso el año de garantía, se puede expandir un año más con el mínimo costo de $15 dólares americanos. (Monto no facturable).</p>
        <p>Esto se puede dar con la mayoría de los productos como discos duros, placas, tarjetas de video, procesadores, etc.</p>
      </li>
      <li>
        <h5>Garantía Extra-Servicio</h5>
        <p>Es un proceso de solución que dura aproximadamente de 10 a 20 días hábiles. Cuando el cliente no puede llevar la garantía al CAS por diversas razones como falta de documentos, tiempo o distancia etc. <strong>ECOGOZO S.A.C</strong> hace su trabajo con el costo de $15 dólares americanos. (Monto no facturable)</p>
      </li>
    </ol>
  </mat-dialog-content>
</div>

<button mat-dialog-close class="btn float-right ec mt-3">Cerrar</button>