@import "../../../variables";

footer {
	background: $thirdC;
	color: white;
	hr {
		margin: 0.25rem 0;
	}
	p {
		margin: 0.5rem 0;
	}
	a {
		color: white;
		&:hover {
			text-decoration: none;
			color: $secondC;
		}
	}
}