@import "../../../../variables.scss";
embed {
    width: 900px;
    height: 600px;
}
mat-dialog-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.link {
    display: none;
}
.ec {
    color: $secondC;
    &:hover {
        border: solid 1.5px $thirdC;
        background: $thirdC ;
        color: #fff;
    }
}
@media (max-width : 600px) {
    embed {
        display: none;
    }
    .link {
        display: block;
        color: $thirdC;
        &:hover {
            color: $secondC;
        }
    }
    #hideA {
        display: none;
    }
}

@media (max-width : 768px) {
    embed {
        display: none;
    }
    .link {
        display: block;
        color: $thirdC;
        &:hover {
            color: $secondC;
        }
    }
    #hideA {
        display: none;
    }
}
