@import '../../../../../variables.scss';
.ec {
    color: $secondC;
    background-color: $thirdC;

    &:hover {
        color: #fff;
        background-color: $thirdC;
    }
}
a{
    text-decoration: none;
}