<div class="container my-3">
    <button (click)="goBack()" class="btn ec" type="button">
        <i class="fa fa-arrow-left"></i>
        REGRESAR
    </button>
  </div>
  <div class="container">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Usuario</th>
              <th scope="col">Estado</th>
              <th scope="col">Cantidad de Productos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
  </div>