<div class="container">
    <mat-dialog-content>
      <div class="cabecera">
          <h3>Pedido</h3>
          <span class="space"></span>
          <h3><strong>N° 123455</strong></h3>
      </div>
      <div class="medio my-5">
        <div class="medioSpace">
          <h5><strong>Fecha del pedido : </strong></h5>
          <p>00/00/0000</p>
        </div>
        <div class="medioSpace">
          <h5><strong>Direccion de envio : </strong></h5>
          <p>av esteban campodonico 520 - La victoria</p>
        </div>
        <div class="medioSpace">
          <h5><strong>Estado del pedido : </strong></h5>
          <p>Pedido</p>
        </div>
        <div class="medioSpace">
          <h5><strong>Método de pago : </strong></h5>
          <p>Tranferencia bancaria</p>
        </div>
      </div>
      <div class="detalleTittle mb-5">
        <h3>Detalle de Compra</h3>
      </div>
      <div class="detalle">
        <div class="shopping-cart">
      
          <div class="column-labels">
            <label class="product-image">Imagen</label>
            <label class="product-details">Producto</label>
            <label class="product-price">Precio</label>
            <label class="product-quantity">Cantidad</label>
            <label class="product-removal">Space</label>
            <label class="product-line-price">Total</label>
          </div>
      
          <div class="product">
            <div class="product-image">
              <img src="../../../../assets/gigabyte-360-gaming3.png">
            </div>
            <div class="product-details">
              <h5 class="product-title"><strong>Producto Con Digitalocean</strong></h5>
              <p class="product-description">producto con digitalocean producto con digitalocean producto con digitalocean producto con digitalocean producto con digitalocean producto con digitalocean producto con digitalocean producto con digitalocean</p>
            </div>
            <div class="product-price">1,000.00</div>
            <div class="product-quantity">
              <p>x 1</p>
            </div>
            <div class="product-line-price">1,000.00</div>
          </div>
      
          <div class="totals">
            <div class="totals-item">
              <label>Subtotal</label>
              <div class="totals-value" id="cart-subtotal">820.00</div>
            </div>
            <div class="totals-item">
              <label>IGV (18%)</label>
              <div class="totals-value" id="cart-tax">180.00</div>
            </div>
            <div class="totals-item">
              <label>Envio</label>
              <div class="totals-value" id="cart-shipping">9.00</div>
            </div>
            <div class="totals-item totals-item-total">
              <label>Total</label>
              <div class="totals-value" id="cart-total">1,009.00</div>
            </div>
          </div>
      
        </div>
      </div>
    </mat-dialog-content>
  </div>
  
  <button mat-dialog-close class="btn float-right ec mt-3">Cerrar</button>