
<nav class="navbar navbar-expand-lg navbar-light bg-ec sticky-top">
    <a class="navbar-brand" routerLink="/home">
        <img id="logoE" src="./assets/imagenes/logos/logo-envi-c.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" (click)="home()" data-toggle="collapse" data-target=".navbar-collapse.show">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngFor="let item of categories" class="btn btn-ca" (click)="category(item.name)" data-toggle="collapse" data-target=".navbar-collapse.show">{{item.name}}</a>
                    </div>
              </li>
            <li class="nav-item">
                <a class="nav-link" (click)="about()" data-toggle="collapse" data-target=".navbar-collapse.show">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="news()" data-toggle="collapse" data-target=".navbar-collapse.show">Novedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="contact()" data-toggle="collapse" data-target=".navbar-collapse.show">Contactanos</a>
            </li>
        </ul>
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Buscar...">
            <a class="search_icon"><i class="fa fa-search"></i></a>
        </div>
        <div class="link">
            <a (click)="openLogin()" class="btn btn-ec" data-toggle="modal tooltip" data-placement="bottom" title="Iniciar Sesión / Perfil" data-toggle="collapse" data-target=".navbar-collapse.show">
                <i class="fa fa-user"></i>
            </a>
            <a (click)="cart()" data-toggle="collapse" data-target=".navbar-collapse.show" class="btn btn-ec">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge badge-outline">{{inCart}}</span>
            </a>
            <a *ngIf="logged==true; elseBlock" (click)="confirmLogout()" class="btn btn-ec" data-toggle="modal tooltip" data-toggle="collapse" data-target=".navbar-collapse.show" data-placement="bottom" title="Cerrar Sesión">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </div>
</nav>