<div class="container">
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab">
                <i class="fa fa-address-card"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cart-tab" data-toggle="tab" href="#cart" role="tab">
                <i class="fa fa-shopping-basket"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab">
                <i class="fa fa-credit-card"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="confirmation-tab" data-toggle="tab" href="#confirmation" role="tab">
                <i class="fa fa-check-circle"></i>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
            <div class="text-center mt-3">
                <h3 class="dots">DATOS DE ENVIO</h3>
            </div>
            <div class="my-3">
                <p class="card-text"><small class="text-muted">Recuerde que en caso usted no pueda estar presente para recibir el pedido, deberá dejar una copia de su DNI firmada a la persona que recibira el pedido.</small></p>
                <p class="card-text"><small class="text-muted">En caso desee factura electrónica debera seleccionar el tipo de Identificación como RUC, para poder generarle su factura electrónica que posteriormente le llegará a su correo electrónico.</small></p>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Nombres</label>
                        <input [(ngModel)]="user.firstname" class="form-control" type="text" name="firstname">
                    </div>
                    <div class="col form-group">
                        <label>Apellidos</label>
                        <input [(ngModel)]="user.lastname" class="form-control" type="text" name="lastname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Tipo de Identificación</label>
                        <select [(ngModel)]="user.id_type" class="form-control">
                            <option value="">Seleccione...</option> 
                            <option value="dni">DNI</option>
                            <option value="dni">CARNET DE EXTRANJERIA</option>
                            <option value="ruc">RUC</option>
                        </select>
                    </div>
                    <div class="col form-group"> 
                        <label>Número de Identificación</label>
                        <input [(ngModel)]="user.id_number" digitOnly name="dni" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <input [(ngModel)]="user.addressOne" name="address" type="text" class="form-control">
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Distrito</label>
                        <select [(ngModel)]="deliveryAddress.district" class="form-control">
                            <option value="">Seleccione...</option>
                            <option *ngFor="let dep of allDistricts" [ngValue]="dep">{{dep.name}}</option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <label>Código Postal
                            <a target="_blank" href="http://www.codigopostal.gob.pe/pages/invitado/consulta.jsf">
                                <i id="help" class="fa fa-question-circle"></i>
                            </a>
                        </label>
                        <input [(ngModel)]="deliveryAddress.postalcode" digitOnly maxlength="5" name="postalcode" type="number" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Departamento</label>
                        <select [(ngModel)]="deliveryAddress.department" class="form-control">
                            <option value="">Seleccione...</option> 
                            <option *ngFor="let dep of allDepartments" [value]="dep">{{dep}}</option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <label>País</label>
                        <select disabled class="form-control">
                            <option selected="">Perú</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Correo Electrónico</label>
                        <input [(ngModel)]="user.email" name="email" type="email" class="form-control">
                    </div>
                    <div class="col form-group">
                        <label>Número de Celular</label>
                        <input [(ngModel)]="user.phone" digitOnly maxlength="9" name="phone" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="cart" role="tabpanel" aria-labelledby="cart-tab">
            <div class="text-center mt-3"> 
                <h3 class="dots">DETALLE DEL PEDIDO</h3>
            </div>
            <div class="contenedor">
                <div class="my-3">
                    <h1>PRODUCTOS</h1>
                    <div class="shopping-cart">
                        <div class="column-labels">
                            <label class="product-image">Imagen</label>
                            <label class="product-details">Producto</label>
                            <label class="product-price">Precio</label>
                            <label class="product-quantity">Cantidad</label>
                            <label class="product-line-price-tittle">Total</label>
                        </div>
                        <div *ngFor="let item of products; let i = 'index'" class="product">
                            <div class="product-image">
                                <img [src]="'https://ecogozotest.com:40/public/products/'+products[i].principalImg">
                            </div>
                            <div class="product-details">
                                <h5 class="product-title"><strong>{{item.name}}</strong></h5>
                            </div>
                            <div class="product-price">{{item.price}}</div>
                            <div class="product-quantity">
                                <input class="ml-4" disabled value="{{item.quantity}}" >
                            </div>
                            <div class="product-line-price">{{item.price*item.quantity | number:'1.2-2'}}</div>
                        </div>
                        <div class="totals">
                            <div class="totals-item">
                                <label>Subtotal</label>
                                <div class="totals-value" id="cart-subtotal">{{subtotal() | number:'1.2-2'}}</div>
                            </div>
                            <div class="totals-item">
                                <label>IGV (18%)</label>
                                <div class="totals-value" id="cart-tax">{{igv() | number:'1.2-2'}}</div>
                            </div>
                            <div class="totals-item">
                                <label>Envio</label>
                                <div class="totals-value" id="cart-shipping">{{deliveryAddress.district.price | number:'1.2-2'}}</div>
                            </div>
                            <div class="totals-item totals-item-total">
                                <label>Total</label>
                                <div class="totals-value" id="cart-total">{{totalOrden() | number:'1.2-2'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
            <div class="text-center mt-3">
                <h3 class="dots">METODOS DE PAGO</h3>
            </div>
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="card-tab" data-toggle="tab" href="#card" role="tab">
                        <i class="fa fa-credit-card"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="deposit-tab" data-toggle="tab" href="#deposit" role="tab">
                        <i class="fa fa-university"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="qr-tab" data-toggle="tab" href="#qr" role="tab">
                        <i class="fa fa-qrcode"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pos-tab" data-toggle="tab" href="#pos" role="tab">
                        <i class="fa fa-calculator"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="card" role="tabpanel" aria-labelledby="card-tab">
                    <div class="container">
                        <div class="cardpayment">
                            <div class="card">
                                <div class="form-group">
                                    <label>Card number:</label>
                                    <input type="number" class="input cardnumber"  placeholder="1234 5678 9101 1121">
                                    <label >Vencimiento:</label>
                                    <input type="text" class="input name1"  placeholder="12" maxlength="2">
                                    <label class="dash">/</label>
                                    <input type="text" class="input name"  placeholder="2020" maxlength="4">
                                    <label class="toleft ccvm">CCV: </label>
                                    <input type="text" class="input toleft ccv" placeholder="321" maxlength="3">
                                </div>
                            </div>
                        </div>
                        <div class="text-left mt-4 texto1">
                            <p><strong>TOTAL ORDEN</strong>  : </p>
                            <p><strong>COMISION (4.2%)</strong> : </p>
                            <p><strong>TOTAL A PAGAR</strong> : </p>
                        </div>
                        <div class="text-right mt-4 texto">
                            <p>S/. {{totalOrden() | number:'1.2-2'}}</p>
                            <p>S/. {{comisionTarjeta() | number:'1.2-2'}}</p>
                            <p>S/. {{totalTarjeta() | number:'1.2-2'}}</p>
                        </div>
                    </div> 
                </div>
                <div class="tab-pane fade" id="deposit" role="tabpanel" aria-labelledby="deposit-tab">
                    <div class="tip">
                        <p class="card-text">Recuerda que una vez realizado el pago, tienes que confirmar la transferencia o deposito enviándonos tu comprobante de pago o screenshot a nuestro WhatsApp.
                        <strong>Nota:</strong> En caso desee realizar el pago en dolares, deberá contactarse con nosotros a través de nuestro WhatsApp para poder indicarle el tipo cambio y el monto a pagar </p>
                    </div>
                    <div class="cardcontainer">
                        <div class="card">
                            <div class="card-body text-left">
                                <img src="../../../../assets/imagenes/metodo de pago/logo bbva.png" alt="" width="200px">
                                <h5 class="card-title">Cta. corriente soles : 0011-0486-0100179443</h5>
                                <h5 class="card-title">Cta. corriente dolares : 0011-0486-0100179451</h5>
                                <h5 class="card-title">Razón Social : ECOGOZO S.A.C</h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body text-right">
                                <img src="../../../../assets/imagenes/metodo de pago/logo interbank.png" alt="" width="200px">
                                <h5 class="card-title">Cta. corriente soles : 2003002019726</h5>
                                <h5 class="card-title">Cta. corriente dolares : 2003002019768</h5>
                                <h5 class="card-title">Razón Social : ECOGOZO S.A.C</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text-left mt-4 texto1">
                                <p><strong>TOTAL ORDEN</strong>  : </p>
                                <p><strong>COMISION (0%)</strong> : </p>
                                <p><strong>TOTAL A PAGAR</strong> : </p>
                            </div>
                            <div class="text-right mt-4 texto">
                                <p>S/. {{totalOrden() | number:'1.2-2'}}</p>
                                <p>S/. 0</p>
                                <p>S/. {{totalOrden() | number:'1.2-2'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="qr" role="tabpanel" aria-labelledby="qr-tab">
                    <div class="card my-4">
                        <div class="card-body">
                            <p class="card-text">
                                El monto total se cancela a través de la <strong>app de mercado libre</strong>, escaneando el <strong>código QR</strong> en la opción de <strong>pagar con código QR</strong>. Una vez se escanea el <strong>código QR</strong> usted ingresa <strong>el monto total a pagar</strong>.  Cuando el pago se halla efectuado, deberá comunicarse con nosotros <strong>a través de nuestro WhatsApp</strong> para confirmar el pago y su pedido.
                            </p>
                        </div>
                        <div class="text-center mb-2 merdiv">
                            <img class="card-img-bottom mercado" src="../assets/imagenes/metodo de pago/mercadopago-01.png" alt="Card image cap">
                            <img class="card-img-bottom mercado" src="../assets/imagenes/metodo de pago/qr_mercadopago.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="text-left mt-4 texto1">
                                <p><strong>TOTAL ORDEN</strong>  : </p>
                                <p><strong>COMISION (0%)</strong> : </p>
                                <p><strong>TOTAL A PAGAR</strong> : </p>
                            </div>
                            <div class="text-right mt-4 texto">
                                <p>S/. {{totalOrden() | number:'1.2-2'}}</p>
                                <p>S/. 0</p>
                                <p>S/. {{totalOrden() | number:'1.2-2'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pos" role="tabpanel" aria-labelledby="pos-tab">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">El monto total se cancela con su tarjeta de crédito o débito al momento de la entrega del o los productos en su dirección de envio mediante nuestro POS. <br>
                            Aceptamos estos tipos de tarjetas :
                            </p>
                            <img class="card-img-bottom" src="../../../../assets/imagenes/metodo de pago/logo_todas_las_tarjetas.png" alt="Card image cap">
                            <div class="text-left mt-2 texto1">
                                <p><strong>TOTAL ORDEN</strong>  : </p>
                                <p><strong>COMISION (4.071%)</strong> : </p>
                                <p><strong>TOTAL A PAGAR</strong> : </p>
                            </div>
                            <div class="text-right mt-2 texto">
                                <p>S/. {{totalOrden() | number:'1.2-2'}}</p>
                                <p>S/. {{comisionPos() | number:'1.2-2'}}</p>
                                <p>S/. {{totalPos() | number:'1.2-2'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="confirmation" role="tabpanel" aria-labelledby="confirmation-tab">
            <div class="text-center mt-3"> 
                <h3 class="dots">RESUMEN DE COMPRA</h3>
            </div>
            <div class="invoice-box">
                <table cellpadding="0" cellspacing="0">
                    <tr class="top">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td class="title">
                                        <img src="../../../assets/imagenes/logos/logo-color.png" style="width:100%; max-width:300px;">
                                    </td>
                                    
                                    <td>
                                        Orden #: 123<br>
                                        Emitida: January 1, 2015<br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr class="information">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td>
                                        av. larco 123 - dpto 127<br>
                                        Miraflores, Lima 12345
                                    </td>
                                    
                                    <td>
                                        ECOGOZO S.A.C<br>
                                        Joel Infante<br>
                                        joel250598@gmail.com
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr class="heading">
                        <td>Metodo de Pago</td>
                        <td></td>
                    </tr>
                    
                    <tr class="details">
                        <td>Mercado Libre</td>
                        <td></td>
                    </tr>
                    
                    <tr class="heading">
                        <td>Productos</td>
                        <td>Precio Total</td>
                    </tr>
                    
                    <tr class="item last">
                        <td>Kit Refrigeracion liquida x 2</td>
                        <td>S/. 20.00</td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>
                           Subtotal: S/. 16.40
                        </td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>
                           IGV: S/. 3.60
                        </td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>
                           Envio: S/. 10.00
                        </td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>
                            Comision: S/. 0.00
                        </td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>
                            Total: S/. 30.00
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


